// clearfix
@mixin clearfix {
    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

@if $include-helper-classes {
    .u-cf {
        @include clearfix;
    }

    .u-fl {
        float: left;
    }

    .u-fr {
        float: right;
    }
}
