@function gut($size, $base: 0.375rem) {
  @return $size * $base;
}

@function rem($size, $base: 16) {
  @if unitless($size) {
    $size: $size * 1px;
  }
  @if unitless($base) {
    $base: $base * 1px;
  }
  @return $size / $base * 1rem;
}

@function em($size, $base: 16) {
  @if unitless($size) {
    $size: $size * 1px;
  }
  @if unitless($base) {
    $base: $base * 1px;
  }
  @return $size / $base * 1em;
}
