// Colors

$m-color-names: gray, red, orange, yellow, green, teal, blue, indigo, purple,
  pink;

$m-color-aliases: (
  neutral: gray,
  primary: blue,
  warning: orange,
  success: green,
  harmful: red,
) !default;

$m-color-palette: (
  white: #fff,
  black: #000,
  gray: (
    1: #f7fafc,
    2: #edf2f7,
    3: #e2e8f0,
    4: #cbd5e0,
    5: #a0aec0,
    6: #718096,
    7: #4a5568,
    8: #2d3748,
    9: #1a202c,
  ),
  red: (
    1: #fff5f5,
    2: #fed7d7,
    3: #feb2b2,
    4: #fc8181,
    5: #f56565,
    6: #e53e3e,
    7: #c53030,
    8: #9b2c2c,
    9: #742a2a,
  ),
  orange: (
    1: #fffaf0,
    2: #feebc8,
    3: #fbd38d,
    4: #f6ad55,
    5: #ed8936,
    6: #dd6b20,
    7: #c05621,
    8: #9c4221,
    9: #7b341e,
  ),
  yellow: (
    1: #fffff0,
    2: #fefcbf,
    3: #faf089,
    4: #f6e05e,
    5: #ecc94b,
    6: #d69e2e,
    7: #b7791f,
    8: #975a16,
    9: #744210,
  ),
  green: (
    1: #f0fff4,
    2: #c6f6d5,
    3: #9ae6b4,
    4: #68d391,
    5: #48bb78,
    6: #38a169,
    7: #2f855a,
    8: #276749,
    9: #22543d,
  ),
  teal: (
    1: #e6fffa,
    2: #b2f5ea,
    3: #81e6d9,
    4: #4fd1c5,
    5: #38b2ac,
    6: #319795,
    7: #2c7a7b,
    8: #285e61,
    9: #234e52,
  ),
  blue: (
    1: #ebf8ff,
    2: #bee3f8,
    3: #90cdf4,
    4: #63b3ed,
    5: #4299e1,
    6: #3182ce,
    7: #2b6cb0,
    8: #2c5282,
    9: #2a4365,
  ),
  indigo: (
    1: #ebf4ff,
    2: #c3dafe,
    3: #a3bffa,
    4: #7f9cf5,
    5: #667eea,
    6: #5a67d8,
    7: #4c51bf,
    8: #434190,
    9: #3c366b,
  ),
  purple: (
    1: #faf5ff,
    2: #e9d8fd,
    3: #d6bcfa,
    4: #b794f4,
    5: #9f7aea,
    6: #805ad5,
    7: #6b46c1,
    8: #553c9a,
    9: #44337a,
  ),
  pink: (
    1: #fff5f7,
    2: #fed7e2,
    3: #fbb6ce,
    4: #f687b3,
    5: #ed64a6,
    6: #d53f8c,
    7: #b83280,
    8: #97266d,
    9: #702459,
  ),
) !default;

/// Sizings

// prettier-ignore
$m-sizes: (
  0: 0,
  1: 0.25rem, // 4px
  2: 0.5rem, // 8px
  3: 0.75rem, // 12px
  4: 1rem, // 16px
  5: 1.25rem, // 20px
  6: 1.5rem, // 24px
  8: 2rem, // 32px
  10: 2.5rem, // 40px
  12: 3rem, // 48px
  16: 4rem, // 64px
  20: 5rem, // 80px
  24: 6rem, // 96px
  32: 8rem, // 128px
  40: 10rem, // 160px
  48: 12rem, // 192px
  56: 14rem, // 224px
  64: 16rem, // 256px
) !default;

/// Border radius

$m-radius-sm: 0.125rem !default;
$m-radius-md: 0.25rem !default;
$m-radius-lg: 0.5rem !default;
$m-radius-full: 9999px !default;

// Font stacks

$m-font-emoji: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;

$m-font-sans: Roboto, 'Noto Sans', 'Noto Sans CJK SC', -apple-system,
  BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Arial, san-serif,
  $m-font-emoji !default;

$m-font-narrow: 'Roboto Condensed', 'Noto Sans Condensed', $m-font-sans !default;
$m-font-serif: 'Noto Serif', 'Noto Serif CJK SC', Georgia, Cambria,
  'Times New Roman', Times, serif !default;

$m-font-mono: Iosevka, 'Sarasa Mono SC', 'Noto Sans Mono CJK SC', Menlo, Monaco,
  Consolas, 'Ubuntu Mono', 'Courier New', monospace !default;

// Font sizes

$m-font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  x2: 1.5rem,
  x3: 1.875rem,
  x4: 2.25rem,
  x5: 3rem,
  x6: 4rem,
) !default;

// Shadows

$m-shadow-xs: 0 1px 2px 0 rgba(#000, 0.1) !default;
$m-shadow-sm: 0 1px 3px 0 rgba(#000, 0.1), 0 1px 2px 0 rgba(#000, 0.06) !default;
$m-shadow-md: 0 4px 6px -1px rgba(#000, 0.1), 0 2px 4px -1px rgba(#000, 0.06) !default;
$m-shadow-lg: 0 10px 15px -3px rgba(#000, 0.1), 0 4px 6px -2px rgba(#000, 0.05) !default;
$m-shadow-xl: 0 20px 25px -5px rgba(#000, 0.1),
  0 10px 10px -5px rgba(#000, 0.04) !default;
$m-shadow-xxl: 0 25px 50px -12px rgba(#000, 0.25) !default;
$m-shadow-inner: inset 0 2px 4px 0 rgba(#000, 0.06) !default;
$m-shadow-outline: 0 0 0 3px rgba(#4299e1, 0.5) !default;

// Screens

$m-screen-ip: 320px !default; // small phones like iphone 3 4 5
$m-screen-ph: 360px !default; // normal phone like android or iphone 6 7 8
$m-screen-pl: 480px !default; // large phablet like iphone 6+, galaxy note...
$m-screen-sm: 640px !default; // small tablet or phone landscape mode
$m-screen-md: 720px !default; // normal tablet
$m-screen-lg: 960px !default; // tablet in landscape mode or small laptop
$m-screen-xl: 1280px !default; // modern laptop or desktop monitor

$m-screen-min: $m-screen-ip !default;
$m-screen-phone: $m-screen-ph !default;
$m-screen-phablet: $m-screen-pl !default;
$m-screen-tablet: $m-screen-sm !default;
$m-screen-laptop: $m-screen-lg !default;
$m-screen-desktop: $m-screen-xl !default;
