/// color palette

$-grays: (
  1: #f7fafc,
  2: #edf2f7,
  3: #e2e8f0,
  4: #cbd5e0,
  5: #a0aec0,
  6: #718096,
  7: #4a5568,
  8: #2d3748,
  9: #1a202c,
) !default;

$-reds: (
  1: #fff5f5,
  2: #fed7d7,
  3: #feb2b2,
  4: #fc8181,
  5: #f56565,
  6: #e53e3e,
  7: #c53030,
  8: #9b2c2c,
  9: #742a2a,
) !default;

$-oranges: (
  1: #fffaf0,
  2: #feebc8,
  3: #fbd38d,
  4: #f6ad55,
  5: #ed8936,
  6: #dd6b20,
  7: #c05621,
  8: #9c4221,
  9: #7b341e,
) !default;

$-yellows: (
  1: #fffff0,
  2: #fefcbf,
  3: #faf089,
  4: #f6e05e,
  5: #ecc94b,
  6: #d69e2e,
  7: #b7791f,
  8: #975a16,
  9: #744210,
) !default;

$-greens: (
  1: #f0fff4,
  2: #c6f6d5,
  3: #9ae6b4,
  4: #68d391,
  5: #48bb78,
  6: #38a169,
  7: #2f855a,
  8: #276749,
  9: #22543d,
) !default;

$-teals: (
  1: #e6fffa,
  2: #b2f5ea,
  3: #81e6d9,
  4: #4fd1c5,
  5: #38b2ac,
  6: #319795,
  7: #2c7a7b,
  8: #285e61,
  9: #234e52,
) !default;

$-blues: (
  1: #ebf8ff,
  2: #bee3f8,
  3: #90cdf4,
  4: #63b3ed,
  5: #4299e1,
  6: #3182ce,
  7: #2b6cb0,
  8: #2c5282,
  9: #2a4365,
) !default;

$-indigos: (
  1: #ebf4ff,
  2: #c3dafe,
  3: #a3bffa,
  4: #7f9cf5,
  5: #667eea,
  6: #5a67d8,
  7: #4c51bf,
  8: #434190,
  9: #3c366b,
) !default;

$-purples: (
  1: #faf5ff,
  2: #e9d8fd,
  3: #d6bcfa,
  4: #b794f4,
  5: #9f7aea,
  6: #805ad5,
  7: #6b46c1,
  8: #553c9a,
  9: #44337a,
) !default;

$-pinks: (
  1: #fff5f7,
  2: #fed7e2,
  3: #fbb6ce,
  4: #f687b3,
  5: #ed64a6,
  6: #d53f8c,
  7: #b83280,
  8: #97266d,
  9: #702459,
) !default;

$-color-palette: (
  gray: $-grays,
  red: $-reds,
  orange: $-oranges,
  yellow: $-yellows,
  green: $-greens,
  teal: $-teals,
  blue: $-blues,
  indigo: $-indigos,
  purple: $-purples,
  pink: $-pinks,
) !default;

$-color-mapping: (
  neutral: gray,
  primary: blue,
  success: teal,
  warning: orange,
  harmful: red,
) !default;

$-color-names: map-keys($-color-palette);

// functions

@function is-custom-color($color) {
  @if map-has-key($-color-palette, $color) {
    @return true;
  }
  @if map-has-key($-color-mapping, $color) {
    @return true;
  }
  @return false;
}

@function alpha($color, $alpha: null) {
  @if $alpha == null or $alpha == 1 {
    @return $color;
  }

  @return rgba($color, $alpha);
}

/// get color by name and shade
@function color($color, $shade: 5, $alpha: null) {
  @if $color == none {
    @return transparent;
  }
  @if $color == white {
    @return #fff;
  }
  @if $color == black {
    @return alpha(#000, $alpha);
  }

  $value: map-get($-color-mapping, $color);
  @if $value {
    $color: $value;
  }

  $shades: map-get($-color-palette, $color);

  @if not $shades {
    @if type-of($color) == color {
      @return alpha($color, $alpha);
    } @else {
      @error "#{$color} is not a valid color";
    }
  }

  @if type-of($shade) != number {
    @error "color shade must be a number, got #{$shade}";
  }

  @if $shade < 1 or $shade > 9 {
    @error "color shade should be in range 1..9, got #{$shade}";
  }

  @return alpha(map-get($shades, $shade), $alpha);
}

@function colors($colors, $shade: 5, $alpha: null) {
  @if type-of($colors) != list {
    // TODO: support map?
    @error "expecting a list of colors";
  }

  $-colors: ();
  @each $color in $colors {
    $-colors: append($-colors, color($color, $shade, $alpha));
  }

  @return $-colors;
}
