$-sides: top, bottom, left, right;
$-flanks: top-bottom, left-right;
$-corners: top-left, top-right, bottom-left, bottom-right;

@function match-side($side1, $side2) {
  @if type-of($side1) != string {
    @error "side #{$side1} is not a string";
  }
  @if type-of($side2) != string {
    @error "side #{$side2} is not a string";
  }

  @return str-index($side1, $side2) or str-index($side2, $side1);
}

@function join-props($props...) {
  $out: nth($props, 1);
  $len: length($props);
  @for $idx from 2 through $len {
    $val: nth($props, $idx);
    @if $val {
      $out: #{$out}-#{$val};
    }
  }

  @return $out;
}

@function side-props($sides, $match: $-sides, $before: null, $after: null) {
  $output: ();

  @each $side in $match {
    @if match-side($side, $sides) {
      @if $before {
        $output: append($output, join-props($before, $side, $after));
      } @else {
        $output: append($output, join-props($side, $after));
      }
    }
  }

  @return $output;
}
