/// blockquotes

$blockquote-pad: 0.75rem !default;
$blockquote-color: color(primary, 5) !default;
$blockquote-border: 0.25rem !default;
$blockquote-bgcolor: rgba($blockquote-color, 0.15) !default;

blockquote {
    padding: $blockquote-pad;

    // @include corner(md);
    // @include color(neutral, 7);
    @include border-left($blockquote-color, $blockquote-border);
    @include bgcolor($blockquote-bgcolor);

    > * + * {
        margin-top: 0.75rem;
    }
}
