pre,
code,
kbd,
samp {
  @include font-family(mono);
}

kbd,
code {
  // display: inline-block;
  padding: 0 0.25em;
  font-size: em(15);
  @include corner(md);
}

kbd {
  @include color(neutral, 6);
  @include border(f-color(neutral, 4));
  @include shadow(xs);
}

code {
  @include color(primary, 7);
  @include bgcolor(neutral, 2);
}

pre {
  display: block;
  margin: 0.5rem 0;

  & > code {
    display: block;
    overflow-x: auto;
    padding: 0.5em 1em;
    color: #cbccc6;
    background: #1f2430;
    @include corner(0.25rem);
  }
}

// for highlightjs

// Ayu Mirage

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #cbccc6;
  background: #1f2430;
}

.hljs-comment,
.hljs-quote {
  color: #5c6773;
}

// Green
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #ffa759;
}

// Cyan
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #bae67e;
}

// Blue
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #73d0ff;
}

// Yellow
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #ffd580;
}

// Orange
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #ffa759;
}

// Red
.hljs-built_in,
.hljs-deletion {
  color: #ff3333;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
