[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-appearance: textfield;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: textfield;
}

progress {
  vertical-align: baseline;
}
