// headings
$heading-color: color(neutral, 8) !default;

%heading {
    @include color($heading-color);
    @include font-weight(normal);
    // @include font-family(narrow);
}

h1 {
    @extend %heading;
    @include font-size(x3); // 1.875rem;
    font-weight: 300;
    line-height: 2rem;
}

h2 {
    @extend %heading;
    @include font-size(x2); // 1.5rem;
    line-height: 2rem;
    // font-weight: 300;
}

h3 {
    @extend %heading;
    @include font-size(xl); // 1.25rem;
    // line-height: 1.5rem;
}

h4 {
    @extend %heading;
    @include font-size(lg); // 1.125rem;
    // line-height: 1.5rem;
}

h5 {
    @extend %heading;
    @include font-size(md); // 1rem;
    // line-height: 1.5;
}

h6 {
    @extend %heading;
    @include font-size(sm); // 0.875rem;
    // line-height: 1.5;
}
