/// links

a[class] {
    text-decoration: none;
}

a:not([class]) {
    $color: color(primary, 6);

    color: currentColor;
    text-decoration: none;
    background-size: 100% 2px;
    padding: 0 2px;
    // text-decoration-skip-ink: auto;

    @include border-top(transparent, 2px);
    @include border-bottom($color, 2px);
    // transition: all 0.1s ease-in-out;

    @include hover {
        color: #fff;
        @include bdcolor($color);
        @include bgcolor($color);
    }
}
