// rulers

@mixin spacing() {
  margin: 0 0 1rem;
}

hr {
  @include spacing();
  @include color(neutral, 3);
  background-color: currentColor;
  border: 0;

  &:not([size]) {
    height: 1px;
  }
}

// headings

%heading {
  @include spacing();
  // @include font-family(narrow);
  @include font-weight(normal);
  @include color(neutral, 8);
}

h1 {
  @extend %heading;
  @include font-size(x3); // 1.875rem;
  font-weight: 300;
  line-height: 2rem;
}

h2 {
  @extend %heading;
  @include font-size(x2); // 1.5rem;
  line-height: 2rem;
  // font-weight: 300;
}

h3 {
  @extend %heading;
  @include font-size(xl); // 1.25rem;
  // line-height: 1.5rem;
}

h4 {
  @extend %heading;
  @include font-size(lg); // 1.125rem;
  // line-height: 1.5rem;
}

h5 {
  @extend %heading;
  @include font-size(md); // 1rem;
  // line-height: 1.5;
}

h6 {
  @extend %heading;
  @include font-size(sm); // 0.875rem;
  // line-height: 1.5;
}

// texts

b,
strong {
  font-weight: bolder;
}

small {
  @include font-size(80%);
}

sub,
sup {
  position: relative;
  @include font-size(75%);
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

del,
ins,
mark {
  padding: 0 0.25rem;
  line-height: inherit;
  @include corner(sm);
}

del {
  @include color(red, 7);
  @include bgcolor(red, 2);
}

ins {
  @include color(green, 7);
  @include bgcolor(green, 2);
}

mark {
  @include color(yellow, 7);
  @include bgcolor(yellow, 2);
}

time,
var {
  @include color(neutral, 6);
}

time {
  // font-weight: bold;
  font-variant: small-caps;
}

/// links

a {
  // TODO replace border with liner gradient
  $bdcolor: f-color(primary, 5);

  color: currentColor;
  text-decoration: none;
  @include border-bottom($bdcolor, 2px);

  @include hover {
    color: #fff;
    background: $bdcolor;
  }
}

a:not([href]) {
  @include reset-link;
}

/// lists

ol,
ul {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;

  ol,
  ul {
    margin-bottom: 0;
  }
}

ol {
  counter-reset: li;
}

li {
  display: block;

  &:before {
    display: inline-block;
    @include color(primary, 6);
    // width: 1rem;
    margin-left: -1rem;
    // text-align: right;
    padding-right: 0.25rem;
  }
}

ul > li {
  &:before {
    content: '▪';
  }

  ul > li:before {
    content: '▫';
  }

  ul > li ul > li {
    content: '◦';
  }
}

ol > li {
  counter-increment: li;

  &:before {
    // @include font-size(sm);
    // text-transform: uppercase;
    content: counter(li) '.';
  }
}

dl {
  @include spacing();
}

dt {
  margin: 0;
  // font-weight: bold;
  @include color(primary, 6);
}

dd {
  margin: 0;
  margin-left: 1rem;
  // @include spacing();
}

/// paragraphs

p {
  @include spacing();
  font-size: rem(16);
}

/// blockquotes

blockquote {
  padding: 0.5rem 0.5rem 0;

  @include spacing();
  @include corner(md);
  @include color(neutral, 7);
  @include border-left(f-color(primary, 5), 0.25rem);
  @include bgcolor(rgba(f-color(primary, 5), 0.1));

  *:last-child {
    margin-bottom: 0.5rem;
    padding-bottom: 0.01px;
  }

  > blockquote {
    margin-top: -0.5rem;
  }
}

/// tables

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include color(neutral, 5);
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}
/// images

figure {
  margin: 0 0 1rem;
}

svg,
img {
  overflow: hidden;
  border-style: none;
  vertical-align: middle;
}

/// miscs

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
