// rulers

hr {
    @include color(neutral, 3);
    background-color: currentColor;
    border: 0;

    &:not([size]) {
        height: 1px;
    }
}

// headings

%heading {
    margin: 0;
    @include color(primary, 7);
    @include font-weight(normal);
    // @include font-family(narrow);
}

h1 {
    @extend %heading;
    @include font-size(x3); // 1.875rem;
    font-weight: 300;
    line-height: 2rem;
}

h2 {
    @extend %heading;
    @include font-size(x2); // 1.5rem;
    line-height: 2rem;
    // font-weight: 300;
}

h3 {
    @extend %heading;
    @include font-size(xl); // 1.25rem;
    // line-height: 1.5rem;
}

h4 {
    @extend %heading;
    @include font-size(lg); // 1.125rem;
    // line-height: 1.5rem;
}

h5 {
    @extend %heading;
    @include font-size(md); // 1rem;
    // line-height: 1.5;
}

h6 {
    @extend %heading;
    @include font-size(sm); // 0.875rem;
    // line-height: 1.5;
}

// texts

b,
strong {
    font-weight: bolder;
}

small {
    @include font-size(80%);
}

sub,
sup {
    position: relative;
    @include font-size(75%);
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

del,
ins,
mark {
    padding: 0 0.25rem;
    line-height: inherit;
    @include corner(sm);
}

del {
    @include color(red, 7);
    @include bgcolor(red, 2);
}

ins {
    @include color(green, 7);
    @include bgcolor(green, 2);
}

mark {
    @include color(yellow, 7);
    @include bgcolor(yellow, 2);
}

time,
var {
    @include color(primary, 6);
}

/// links

a[class] {
    @include reset-link;
}

a:not([class]) {
    $bdcolor: f-color(primary, 5);

    color: currentColor;
    text-decoration: none;
    // text-decoration-skip-ink: auto;

    @include border(transparent, 2px);
    border-bottom-color: $bdcolor;

    @include hover {
        color: #fff;
        @include bgcolor($bdcolor);
        @include bdcolor($bdcolor);
        // @include corner(sm);
        transition: all 0.1s ease-in-out;
    }
}

/// lists

ol[class],
ul[class] {
    padding: 0;
    list-style: none;
}

ol,
ul,
ul.tasklist {
    margin: 0;
    padding: 0;
    padding-left: 1rem;

    // ol,
    // ul {
    //     margin-bottom: 0;
    // }
}

ol {
    counter-reset: li;
}

ul > li:before {
    font-size: 1.3em;
}

ul.tasklist > li:before {
    font-size: 1.2em;
}

li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 0.25rem;

    &:before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        margin-left: -1rem;
        // padding-right: 0.25rem;
        // width: 1.5rem;
        // text-align: center;
        @include color(primary, 7);
    }

    &.uncheck:before {
        content: '☐';
    }

    &.checked:before {
        content: '✓';
    }
}

ul > li {
    &:before {
        content: '▪';
    }

    ul > li:before {
        content: '▫';
    }

    ul > li ul > li:before {
        content: '◦';
    }
}

ol > li {
    counter-increment: li;

    &:before {
        // @include font-size(sm);
        // text-transform: uppercase;
        content: counter(li) '.';
    }
}

dl {
    display: block;
}

dt {
    margin: 0;
    // font-weight: bold;
    @include color(primary, 6);
}

dd {
    margin: 0;
    margin-left: 1rem;
}

/// paragraphs

p {
    margin: 0;
    font-size: rem(16);
}

/// blockquotes

blockquote {
    margin-left: 0;
    padding: 0.75rem;

    @include corner(md);
    @include color(neutral, 7);
    @include border-left(f-color(primary, 5), 0.25rem);
    @include bgcolor(rgba(f-color(primary, 5), 0.1));

    // *:last-child {
    //     margin-bottom: 0.5rem;
    //     padding-bottom: 0.01px;
    // }

    // > blockquote {
    //     margin-top: -0.5rem;
    // }
}

/// tables

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include color(neutral, 5);
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

/// images

svg,
img {
    overflow: hidden;
    border-style: none;
    vertical-align: middle;
}

/// miscs

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    text-decoration-skip-ink: none;
}

address {
    font-style: normal;
    line-height: inherit;
}

article,
.m-flow {
    * + * {
        margin-top: 1rem !important;
    }

    // li + li {
    //     margin-top: 0 !important;
    // }
}
