/// lists

ol[class],
ul[class] {
    padding: 0;
    list-style: none;
}

ol,
ul,
ul.tasklist {
    padding: 0;
    padding-left: 1rem;

    // ol,
    // ul {
    //     margin-bottom: 0;
    // }
}

ol {
    counter-reset: li;
}

ul > li:before {
    font-size: 1.3em;
}

ul.tasklist > li:before {
    font-size: 1.2em;
}

li {
    display: block;
    position: relative;
    // margin: 0;
    padding: 0;
    padding-left: 0.25rem;

    &:before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        margin-left: -1rem;
        // padding-right: 0.25rem;
        // width: 1.5rem;
        // text-align: center;
        @include color(primary, 7);
    }

    &.uncheck:before {
        content: '☐';
    }

    &.checked:before {
        content: '✓';
    }
}

ul > li {
    &:before {
        content: '▪';
    }

    ul > li:before {
        content: '▫';
    }

    ul > li ul > li:before {
        content: '◦';
    }
}

ol > li {
    counter-increment: li;

    &:before {
        // @include font-size(sm);
        // text-transform: uppercase;
        content: counter(li) '.';
    }
}

li > p:first-child {
    + ul,
    + ol {
        margin-top: 0;
    }
}

dl {
    display: block;
}

dt {
    // font-weight: bold;
    @include color(primary, 6);
}

dd {
    margin-left: 1rem;
}
