// configs

$-border-widths: 0, 1px, 2px, 3px, 4px !default;
// prettier-ignore
$-border-styles: none, inset, hidden, solid,
                   double, dotted, dashed !default;
// all

$-border-width-df: 1px !default;
$-border-style-df: solid !default;
$-border-color-df: color(neutral, 3) !default;

@mixin border-color($color: $-border-color-df, $side: all) {
  @if $side == all {
    border-color: $color;
  } @else {
    border-#{$side}-color: $color;
  }
}

@mixin border-style($style: $-border-style-df, $side: all) {
  @if $side == all {
    border-style: $style;
  } @else {
    border-#{$side}-style: $style;
  }
}

@mixin border-width($width: $-border-width-df, $side: all) {
  @if $side == all {
    border-width: $width;
  } @else {
    border-#{$side}-width: $width;
  }
}

// prettier-ignore
@mixin border( $side: all, $width: $-border-width-df, $color: $-border-color-df, $style: $-border-style-df ) {
  $border: $width $style $color;
  @if $side == all {
    border: $border;
  } @else {
    border-#{$side}: $border;
  }
}
