// clearfix

$abbr: abbr(clearfix, $df: cf);
$left-abbr: abbr(float-left, $df: fr);
$right-abbr: abbr(float-right, $df: fr);

.u-#{$abbr} {
  @include clearfix;
}

.u-#{$left-abbr} {
  float: left;
}

.u-#{$right-abbr} {
  float: right;
}
