$-radius-sizes: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 6px,
  6: 8px,
  7: 10px,
  8: 12px,
  9: 16px,
  x: 1000px,
) !default;

$-radius-size-df: 4px !default;

@mixin corner($radius: $-radius-size-df, $side: all) {
  @if $side == all {
    border-radius: $radius;
  }
  @if $side == top or $side == left {
    border-top-left-radius: $radius;
  }
  @if $side == top or $side == right {
    border-top-right-radius: $radius;
  }
  @if $side == bottom or $side == left {
    border-bottom-left-radius: $radius;
  }
  @if $side == bottom or $side == right {
    border-bottom-right-radius: $radius;
  }
}
