// variables

$m-font-emoji: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji' !default;

$m-font-sans: Roboto, system-ui, -apple-system, 'Noto Sans', 'Noto Sans CJK SC',
  Arial, san-serif, $m-font-emoji !default;

$m-font-mono: 'Iosevka', 'Sarasa Mono SC', Consolas, monospace, $m-font-emoji !default;

$m-font-serif: 'Noto Serif', 'Times New Roman', 'Noto Serif CJK SC', serif,
  $m-font-emoji !default;

$m-font-narrow: 'Roboto Condensed', 'Noto Sans Condensed', 'SF Condensed',
  'San Francisco Compact', $m-font-sans !default;

$m-font-families: (
  sans: $m-font-sans,
  mono: $m-font-mono,
  serif: $m-font-serif,
  narrow: $m-font-narrow,
);

@function font-family($name, $extra: null) {
  $stack: map-get($m-font-families, $name);

  @if type-of($stack) != list {
    @error "no font family named '#{$name}'";
  }

  // add extra font on top
  @if $extra {
    $stack: prepend(remove($stack, $extra), $extra);
  }

  // $stack: append($stack, $m-font-emoji);
  @return $stack;
}

@mixin font-family($type: sans, $extra: null) {
  font-family: font-family($type, $extra);
}
