// configs

$-font-size-0: rem(10px) !default;
$-font-size-1: rem(12px) !default;
$-font-size-2: rem(14px) !default;
$-font-size-3: rem(16px) !default;
$-font-size-4: rem(18px) !default;
$-font-size-5: rem(20px) !default;
$-font-size-6: rem(24px) !default;
$-font-size-7: rem(30px) !default;
$-font-size-8: rem(36px) !default;
$-font-size-9: rem(48px) !default;
$-font-size-10: rem(64px) !default;

$-font-sizes: $-font-size-1, $-font-size-2, $-font-size-3, $-font-size-4,
  $-font-size-5, $-font-size-6, $-font-size-7, $-font-size-8, $-font-size-9,
  $-font-size-10 !default;
$-font-size-alias: xxs, xs, sm, md, lg, x1, x2, x3, x4, x5, x6 !default;

@function font-size($input: 3) {
  @if type-of($input) == number {
    @if not unitless($input) {
      @warn "using custom font size: '#{$input}'";
      @return $input;
    }

    @if $input == 0 {
      @return $-font-size-0;
    }

    @if $input < 0 or $input > 10 {
      @error "index out of range";
    }

    @return nth($-font-sizes, $input);
  }

  $index: index($-font-size-alias, $input);
  @if $index {
    @return nth($-font-sizes, $index);
  }

  @error "'#{$input}' is not a valid font size";
}

@mixin font-size($size: md) {
  font-size: font-size($size);
}

// @debug font-size(1); // expect 0.75rem
// @debug font-size(16px); // expect warning
// @debug font-size(md); // expect 1rem
