// Text truncate
// Requires inline-block or block for proper styling

// prettier-ignore
@mixin truncate($width: auto, $style: ellipsis) {
  @if $width { width: $width; }

  overflow: hidden;
  white-space: nowrap;
  text-overflow: $style;
}

// prettier-ignore
@mixin uppercase($weight: 500, $spacing: 0.05em) {
  text-transform: uppercase;
  @if $weight { font-weight: $weight; }
  @if $spacing { letter-spacing: $spacing; }
}
