// Responsive image
//
// Keep images from scaling beyond the width of their parents.
@mixin image-fluid {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height abbribute on the img element.
  height: auto;
}

// Retina image
//
// Short retina mixin for setting background-image and -size.
@mixin image-retina($file-1x, $file-2x, $width-1x: 100%, $height-1x: 100%) {
  background-image: url($file-1x);
  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: url($file-2x);
    background-size: $width-1x $height-1x;
  }
}
