$-margins: (0, 1x, 2x, 3x, 4x, 5x, 6x, 7x, 8x, 9x, 10x) !default;
$-margin-df: 4x !default;

// helpers
@mixin margin($size: $-margin-df, $side: all, $screen: null) {
  $gutter: rem($size);

  @include screen-min($screen) {
    @if $side == all {
      margin: $gutter;
    }
    @each $-side in $-sides {
      @if side-match($side, $-side) {
        margin-#{$-side}: $gutter;
      }
    }
  }
}
