$-spacing-sizes: (0, 1x, 2x, 3x, 4x, 5x, 6x, 8x, 10x) !default;
$-spacing-sides: join($-side-edges, $-side-flanks) !default;

@each $size in $-spacing-sizes {
  $base: strip-unit($size);

  .u-m-#{$base} {
    @include margin($size);
  }
  .u-p-#{$base} {
    @include padding($size);
  }

  @each $side in $-spacing-sides {
    $attr: side-abbr($side);

    .u-m-#{$base}-#{$attr} {
      @include margin($size, $side);
    }
    .u-p-#{$base}-#{$attr} {
      @include padding($size, $side);
    }

    @each $screen in $-screen-names {
      .u-m-#{$base}-#{$attr}-#{$screen} {
        @include screen-min($screen) {
          @include margin($size, $side);
        }
      }
      .u-p-#{$base}-#{$attr}-#{$screen} {
        @include screen-min($screen) {
          @include padding($size, $side);
        }
      }
    }
  }
}
