$-radius-sizes: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 6px,
  6: 8px,
  7: 10px,
  8: 12px,
  9: 16px,
  x: 100vmax,
) !default;

$-radius-size-df: 4 !default;

@function radius($size) {
  @return map-get($-radius-sizes, $size);
}

@mixin radius($size: $-radius-size-df, $side: all) {
  $radius: radius($size);

  @if $side == all {
    border-radius: $radius;
  }

  @each $corner in $-corners {
    @if side-amatch($side, $corner) {
      border-#{$corner}-radius: $radius;
    }
  }
}
