$m-radius-sizes: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 6px,
  6: 8px,
  7: 10px,
  8: 12px,
  9: 16px,
  x: 100vmax,
) !default;

$m-radius-df: 4 !default;
$m-radiuses: map-keys($m-radius-sizes);

// functions

@function radius-props($sides: all) {
  @if $sides == all or $sides == null {
    @return border-radius;
  }

  $props: ();

  @each $corner in $m-corners {
    @if match-side($corner, $sides) {
      $props: append($props, border-#{$corner}-radius);
    }
  }

  @return $props;
}

@function radius($value) {
  @return map-get($m-radius-sizes, $value) or $value;
}

// mixins

@mixin radius($value: $m-radius-df, $sides: all) {
  $props: radius-props($sides);
  $value: radius($value);

  @include bps($props, $value);
}
