$abbr: abbr(radius, rd);

.u-#{$abbr} {
  border-radius: $-radius-size-df;
}

@each $key, $value in $-radius-sizes {
  .u-#{$abbr}-#{$key} {
    @include radius($value, $side: all);
  }
}

@each $side in $-sides {
  $side-abbr: side-abbr($side);

  .u-#{$abbr}-#{$side-abbr} {
    @include radius($side: $side);
  }

  @each $key, $value in $-radius-sizes {
    .u-#{$abbr}-#{$side-abbr}-#{$key} {
      @include radius($value, $side: $side);
    }
  }
}
