/// reset links
@mixin reset-link {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/// reset lists
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
