// Text truncate
// Requires inline-block or block for proper styling

@mixin truncate($width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // prettier-ignore
  @if $width { width: $width; }
}

@mixin text-upper() {
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
