$header-height: 3rem;
$header-inner-height: 2.25rem;
$header-gutter: ($header-height - $header-inner-height) / 2;

.app-header {
  transition: transform 100ms ease-in-out;
  will-change: transform;

  position: sticky;
  z-index: 100;

  top: 0;
  left: 0;

  width: 100%;
  height: $header-height;
  padding: $header-gutter 0;

  @include fgcolor(white);
  @include bgcolor(primary, 7);
  @include shadow(2);

  &._clear {
    // top: -$header-height;
    transform: translateY(-$header-height);
  }

  .-wrap {
    display: flex;
  }

  .-left,
  .-right {
    > * {
      @include flex-gap($header-gutter);
    }
  }

  .-left {
    flex-grow: 1;
  }

  .-right {
    padding-left: $header-gutter;
  }
}

.header-item {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  outline: none;
  min-width: $header-inner-height;
  text-decoration: none;
  user-select: none;

  padding: 0 0.5rem;
  height: $header-inner-height;
  line-height: $header-inner-height;

  @include fgcolor(neutral, 2);
  @include bgcolor(primary, 6);

  @include radius();

  @include hover {
    @include bgcolor(primary, 5);
  }

  &._active {
    @include bgcolor(primary, 5);
  }

  &:disabled {
    cursor: text;
    @include fgcolor(neutral, 4);
    @include bgcolor(primary, 6);
  }

  img,
  svg {
    margin: 0.5rem 0;
    width: 1.25rem !important;
    height: 1.25rem !important;

    & + .header-text {
      margin-left: 0.25rem;
    }
  }
}

.header-text {
  text-transform: uppercase;
  font-weight: 500;

  @include font-size(2);

  &._show-sm {
    @include props(inline-block, none, $sm: inline-block);
  }

  &._show-md {
    @include props(inline-block, none, $md: inline-block);
  }

  ._brand & {
    @include font-size(3);
    letter-spacing: 0.1em;
  }

  &._title {
    max-width: 40vw;
    @include truncate(null);
  }

  &._seed {
    max-width: 25vw;
    @include truncate(null);
  }
}

.header-field {
  position: relative;
  padding: 0;
  // flex-grow: 1;

  cursor: text;
  border-radius: $header-inner-height / 2;
  height: $header-inner-height;
  line-height: $header-inner-height;

  > input {
    color: inherit;
    padding: 0 1rem;
    display: block;
    // font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    border-radius: $header-inner-height / 2;

    @include bgcolor(darken(color(primary, 7), 5%));

    &::placeholder {
      @include fgcolor(neutral, 5);
    }
  }

  > svg {
    position: absolute;
    // display: flex;
    padding: 0;
    margin: 0;
    right: 0.875rem;
    top: 0.625rem;
    width: 1.125rem;
    height: 1.125rem;
    @include fgcolor(neutral, 5);
  }
}

.header-menu {
  position: absolute;
  width: 12rem;
  padding: 0.5rem 0;
  top: $header-inner-height;
  right: 0;

  @include bgcolor(#fff);
  @include shadow;
  @include radius;

  display: none;
  .header-item:hover & {
    display: block;
  }

  .-item {
    display: flex;

    padding: 0 0.25rem;
    // line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;

    @include flex(0);

    @include border($sides: top);
    &:last-child {
      @include border($sides: bottom);
    }

    @include font-size(2);
    @include fgcolor(neutral, 6);

    &:hover {
      @include fgcolor(primary, 6);
      @include bgcolor(neutral, 2);
    }

    svg {
      margin: 0.5rem;
    }

    ._right {
      margin-left: auto;
    }
  }
}
