$-button-styles: text, line, fill !default;
$-button-colors: neutral, primary, success, warning, harmful !default;

$-button-style-df: fill !default;
$-button-color-df: neutral !default;

$-button-size-names: tiny, small, medium, large, huge !default;
$-button-size-df: medium !default;

$-button-heights: (
  /* 24px */ tiny: rem(6x),
  /* 32px */ small: rem(8x),
  /* 36px */ medium: rem(9x),
  /* 48px */ large: rem(11x),
  /* 60px */ huge: rem(14x)
);

$-button-icon-sizes: (
  tiny: rem(12px),
  small: rem(16px),
  medium: rem(20px),
  large: rem(24px),
  huge: rem(28px),
);

$-button-text-sizes: (
  tiny: rem(11px),
  small: rem(12px),
  medium: rem(14px),
  large: rem(16px),
  huge: rem(18px),
);

@mixin button-common() {
  display: inline-flex;

  @include radius;
  @include uppercase;
  @include border($color: none);

  &._disabled,
  &:disabled,
  &._disable {
    &:hover {
      cursor: text;
    }
  }
}

@mixin button-sizing($size: $-button-size-df) {
  $height: map-get($-button-heights, $size);
  $icon-size: map-get($-button-icon-sizes, $size);
  $text-size: map-get($-button-text-sizes, $size);

  $icon-pad: ($height - $icon-size - rem(2px)) / 2;
  $text-pad: ($icon-size - $text-size) / 2;

  height: $height;
  padding: $icon-pad;
  line-height: $icon-size;
  font-size: $text-size;
  // vertical-align: bottom;

  > svg,
  > img {
    width: $icon-size;
    height: $icon-size;
  }

  > span {
    // margin-top: rem(1px);
    padding: 0 $text-pad;
  }

  @at-root {
    input#{&} {
      padding-top: ($height - $icon-size) / 2;
      padding-left: ($height - $text-size - rem(2px)) / 2;
      padding-right: ($height - $text-size - rem(2px)) / 2;
    }
  }
}

@mixin button-varify($style: fill, $color: neutral) {
  @if $style == line {
    @if $color == neutral {
      @include bdcolor($color: $color, $shade: 4);
      &:disabled,
      &._disable {
        @include bdcolor($color: $color, $shade: 3);
      }
    } @else {
      @include bdcolor($color: $color, $shade: 3);
      &:disabled,
      &._disable {
        @include bdcolor($color: $color, $shade: 2);
      }
    }
  } @else {
    @include bdcolor($color: none);
  }

  @if $style == fill {
    @if $color == neutral {
      @include fgcolor(neutral, 7);
      @include bgcolor(neutral, 2);
      &:hover {
        @include bgcolor(neutral, 3);
      }

      &:disabled,
      &._disable {
        @include fgcolor(neutral, 4);
        @include bgcolor(neutral, 2);
      }
    } @else {
      @include fgcolor(white);
      @include bgcolor($color, 5);
      &:hover {
        @include bgcolor($color, 4);
      }

      &:disabled,
      &._disable {
        @include bgcolor($color, 3);
      }
    }
  } @else {
    @if $color == neutral {
      @include fgcolor($color, 7);
      @include bgcolor(none);

      &:hover {
        @include bgcolor($color, 2);
      }

      &:disabled,
      &._disable {
        @include fgcolor($color, 4);
        @include bgcolor(none);
      }
    } @else {
      @include fgcolor($color, 6);
      @include bgcolor(none);

      &:hover {
        @include bgcolor($color, 1);
      }

      &:disabled,
      &._disable {
        @include fgcolor($color, 3);
        @include bgcolor(none);
      }
    }
  }
}
