@include svg-icon($size: 1em) {
  display: inline-block;
  width: $size;
  height: $size;

  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  // vertical-align: top;
}
