@mixin input-common() {
  display: block;
  position: relative;

  $bgcolor: #fff;

  > label {
    $pad: rem(2x);

    position: absolute;
    top: -$pad;
    left: $pad;
    padding: 0 $pad / 2;
    line-height: 1rem;
    font-size: rem(14px);
    // font-weight: 500;
    background: linear-gradient(180deg, transparent 50%, $bgcolor 50%);
    pointer-events: none;
    @include fgcolor(color(neutral, 6));
    @include font-family(narrow);
  }

  > textarea,
  > input,
  > select {
    display: block;
    width: 100%;

    background-color: $bgcolor;
    font-size: rem(4x);
    line-height: rem(6x);

    @include border($color: color(neutral, 4));
    @include padding(left-right, rem(3x));
    @include radius;

    &:focus {
      outline: none;
      // box-shadow: 0 0 0 1px inset color(primary, 5);
      @include border-color($value: color(primary, 5));
    }
  }
}

@mixin input-sizing($size: normal) {
  $pad: gap(1.25);
  @if $size == small {
    $pad: gap(0.5);
  } @else if $size == large {
    $pad: gap(2.25);
  }

  > input,
  > select,
  > textarea {
    @include padding(top-bottom, $pad);
  }
}
