$-flex-gap-df: rem(2x) !default;
$-flow-gap-df: rem(4x) !default;
$-grid-gap-df: rem(2x) !default;

@mixin flow($gap: $-flow-gap-df, $child: '*', $trump: false) {
  display: block;
  > #{$child} + #{$child} {
    @include props(margin-top, $gap, $trump);
  }
}

@mixin flex($gap: $-flex-gap-df, $child: '*', $trump: false) {
  display: flex;
  > #{$child} + #{$child} {
    @include props(margin-left, $gap, $trump);
  }
}

@mixin grid($size, $gap: $-grid-gap-def, $trump: false) {
  display: grid;
  grid-template-columns: repeat(auto-fill, $size);
  @include props(grid-gap, $gap, $trump);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wrap-center($size, $child: '*') {
  > #{$child} {
    width: $size;
    max-width: 100%;
    margin: 0 auto;
  }
}
