// Sizing shortcuts

@mixin width($size, $gap: null) {
  width: rem($size);
  @if $gap {
    @include padding(left-right, $gap);
  }
}

@mixin height($size, $gap: null) {
  height: rem($size);
  @if $gap {
    @include padding(top-bottom, $gap);
  }
}

// TODO: rethink
@mixin sizing($display: block, $width: 100%, $height: null, $gap: null) {
  display: $display;
  @include width($width, $gap);
  @if ($height) {
    @include height($height, $gap);
  }
}
