@use "../essence" as *;

$-btn-height-xs: rem(24px);
$-btn-height-sm: rem(32px);
$-btn-height-md: rem(36px);
$-btn-height-lg: rem(48px);
$-btn-height-xl: rem(60px);

.m-button {
  --height: #{$-btn-height-md};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-md);
  --innerh: calc(var(--height) - var(--gutter) - var(--gutter));

  display: inline-flex;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border: 0;

  padding: var(--gutter);
  height: var(--height);
  line-height: var(--innerh);
  font-size: var(--ftsize);
  @include bdradi;

  > span {
    margin: 0 var(--gutter-ss);
  }

  > svg,
  > img {
    // margin: var(--gutter) 0;
    width: var(--innerh);
    height: var(--innerh);
  }
}

.btn-xs {
  --height: #{$-btn-height-xs};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-xs);
}

.btn-sm {
  --height: #{$-btn-height-sm};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-sm);
}

.btn-lg {
  --height: #{$-btn-height-lg};
  --gutter: var(--gutter-sm);
  --ftsize: var(--ftsize-lg);
}

.btn-xl {
  --height: #{$-btn-height-xl};
  --gutter: var(--gutter-md);
  --ftsize: var(--ftsize-xl);
}

$-colors: (primary, success, warning, harmful);

@mixin text-button($color: neutral) {
  @include color(fgcolor, $color, 6);
  @include color(bgcolor, $color, 0);
  @include color(bghover, $color, 1);
  @include linesd($color, 1, $ndef: false);

  .tm-dark & {
    @include color(fgcolor, $color, 4);
    @include color(bgcolor, neutral, 9);
    @include color(bghover, $color, 8);
    @include linesd($color, 7, $ndef: false);
  }

  &:disabled,
  &._disable {
    @include color(fgcolor, $color, 4);
    @include color(bgcolor, neutral, 1);
    @include color(bghover, neutral, 1);
    @include linesd(neutral, 1);

    .tm-dark & {
      @include color(fgcolor, $color, 6);
      @include color(bgcolor, neutral, 8);
      @include color(bghover, neutral, 8);
      @include linesd(neutral, 8);
    }
  }
}

.m-button {
  color: var(--fgcolor);
  background: var(--bgcolor);

  @include linesd(bd-soft);
  @include text-button(neutral);

  &:hover {
    background: var(--bghover);
  }

  &:disabled,
  &._disable {
    // prettier-ignore
    @include hover { cursor: text; }
  }

  @each $color in $-colors {
    &._#{$color} {
      @include text-button($color);
    }
  }
}

@mixin fill-button($color: neutral) {
  @include color(fgcolor, white);
  @include color(bgcolor, $color, 5);
  @include color(bghover, $color, 4);
  @include linesd($color, 5, $ndef: false);

  .tm-dark & {
    @include color(fgcolor, $color, 1);
    @include color(bgcolor, $color, 7);
    @include color(bghover, $color, 6);
    @include linesd($color, 6, $ndef: false);
  }

  &._disable,
  &:disabled {
    @include color(fgcolor, $color, 2);
    @include color(bgcolor, $color, 4);
    @include color(bghover, $color, 4);
    @include linesd($color, 4);

    .tm-dark & {
      @include color(fgcolor, $color, 6);
      @include color(bgcolor, $color, 8);
      @include color(bghover, $color, 8);
      @include linesd($color, 8);
    }
  }
}

.m-button._fill {
  @include fill-button(neutral);

  @each $color in $-colors {
    &._#{$color} {
      @include fill-button($color);
    }
  }
}
