// Font stacks

$font-emoji: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !default;

$font-sans: Roboto, 'Noto Sans', 'Noto Sans CJK SC', -apple-system,
    BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Arial, san-serif,
    $font-emoji !default;

$font-narrow: 'Roboto Condensed', 'Noto Sans Condensed', $font-sans !default;
$font-serif: 'Noto Serif', 'Noto Serif CJK SC', Georgia, Cambria,
    'Times New Roman', Times, serif !default;

$font-mono: Iosevka, 'Sarasa Mono SC', 'Noto Sans Mono CJK SC', Menlo, Monaco,
    Consolas, 'Ubuntu Mono', 'Courier New', monospace !default;

$font-sizes: (
    xs: 0.75rem,
    sm: 0.875rem,
    md: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    x2: 1.5rem,
    x3: 1.875rem,
    x4: 2.25rem,
    x5: 3rem,
    x6: 4rem,
) !default;

@mixin font-family($family: sans) {
    @if $family == null or $family == sans {
        font-family: $font-sans;
    } @else if $family == narrow {
        font-family: $font-narrow;
    } @else if $family == mono {
        font-family: $font-mono;
    } @else {
        font-family: $family, $font-sans;
    }
}

@mixin font-weight($weight: bold) {
    font-weight: $weight;
}

@mixin font-size($size: md) {
    font-size: f-map-get($font-sizes, $size, $size);
}
