$screen-ip: 320px !default; // small phones like iphone 3 4 5
$screen-ph: 360px !default; // normal phone like android or iphone 6 7 8
$screen-pl: 480px !default; // large phablet like iphone 6+, galaxy note...
$screen-sm: 640px !default; // small tablet or phone landscape mode
$screen-md: 720px !default; // normal tablet
$screen-lg: 960px !default; // tablet in landscape mode or small laptop
$screen-xl: 1280px !default; // modern laptop or desktop monitor

$screen-min: $screen-ip !default;
$screen-phone: $screen-ph !default;
$screen-phablet: $screen-pl !default;
$screen-tablet: $screen-sm !default;
$screen-laptop: $screen-lg !default;
$screen-desktop: $screen-xl !default;

@function screen($name) {
    @if $name == phone {
        @return $screen-phone;
    } @else if $name == phablet {
        @return $screen-phablet;
    } @else if $name == tablet {
        @return $screen-tablet;
    } @else if $name == laptop {
        @return $screen-laptop;
    } @else if $name == desktop {
        @return $screen-desktop;
    } @else {
        @return $name;
    }
}

@mixin screen-min($name: tablet) {
    $size: screen($name);
    @media only screen and (min-width: #{$size}) {
        @content;
    }
}

@mixin screen-max($name: tablet) {
    $size: screen($name);
    @media only screen and (max-width: #{$size}) {
        @content;
    }
}

@mixin screen-range($min, $max) {
    $min-screen: screen($min);
    $max-screen: screen($max);

    @media only screen and (min-width: #{$min-screen}) and (max-width: #{$max-screen}) {
        @content;
    }
}
