// prettier-ignore

@function size($size: 1, $base: .25rem) {
    @return $size * $base;
}

$-size-1: size(1);
$-size-2: size(2);
$-size-3: size(3);
$-size-4: size(4);
$-size-5: size(5);
$-size-6: size(6);
$-size-8: size(8);
$-size-10: size(10);
$-size-12: size(12);
$-size-16: size(16);
$-size-20: size(20);
$-size-24: size(24);
$-size-32: size(32);
$-size-40: size(40);
$-size-48: size(48);
$-size-58: size(58);
$-size-64: size(64);

@mixin pd($size) {
    padding: $size;
}

@mixin pd-x($size) {
    padding-left: $size;
    padding-right: $size;
}

@mixin pd-y($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin mg($size) {
    margin: $size;
}

@mixin mg-x($size) {
    margin-left: $size;
    margin-right: $size;
}

@mixin mg-y($size) {
    margin-top: $size;
    margin-bottom: $size;
}

// Sizing shortcuts

@mixin sizing($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin height($size) {
    height: $size;
    line-height: $size;
}
