$-positions: static, absolute, relative, fixed, sticky;

@mixin pos($type: null) {
  @if $type == s {
    position: static;
  } @else if $type == a {
    position: absolute;
  } @else if $type == r {
    position: relative;
  } @else if $type == f {
    position: fixed;
  } @else if $type == t {
    position: sticky;
  }
}

@mixin top($val: 0) {
  top: rem($val);
}

@mixin right($val: 0) {
  right: rem($val);
}

@mixin bottom($val: 0) {
  bottom: rem($val);
}

@mixin left($val: 0) {
  left: rem($val);
}
