pre,
code,
kbd,
samp {
  @include font-family(mono);
}

kbd,
code {
  padding: 0 0.25em;
  font-size: 85%;
  line-height: inherit;
  font-weight: 600;
  vertical-align: text-top;
  @include border-radius();
}

kbd {
  // margin: -0.2em 0;
  // display: inline-block;
  @include color(primary, 5);
  @include border($color: color(neutral, 4));
  @include box-shadow(1);
}

code {
  // margin: 0 -0.2em;
  @include color(primary, 5);
  @include bgcolor(primary, 1);
  & + & {
    margin-left: 0.4em;
  }
}

pre {
  display: block;
  margin: 0.5rem 0;

  & > code {
    display: block;
    overflow-x: auto;
    padding: 0.5em 1em;
    color: color(gray, 1);
    background: color(gray, 8);
    font-weight: normal;
    @include border-radius(0.25rem);
  }
}
