// headings
$heading-color: color(neutral, 9) !default;

$-h1-font-size: font-size(x3) !default;
$-h1-line-height: 2.5rem !default;
$-h2-font-size: font-size(x2) !default;
$-h2-line-height: 2.25rem !default;
$-h3-font-size: font-size(x1) !default;
$-h3-line-height: 2rem !default;
$-h4-font-size: font-size(lg) !default;
$-h4-line-height: 1.75rem !default;
$-h5-font-size: font-size(md) !default;
$-h5-line-height: 1.5rem !default;
$-h6-font-size: font-size(sm) !default;
$-h6-line-height: 1.5rem !default;

@mixin heading($font-size, $line-height: 1.5rem) {
  color: $heading-color;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
}

h1 {
  @include heading($-h1-font-size, $-h1-line-height);
  font-weight: 300;
}

h2 {
  @include heading($-h2-font-size, $-h2-line-height);
  font-weight: 400;
}

h3 {
  @include heading($-h3-font-size, $-h3-line-height);
  font-weight: 500;
}

h4 {
  @include heading($-h4-font-size, $-h4-line-height);
  font-weight: 600;
}

h5 {
  @include heading($-h5-font-size, $-h5-line-height);
  font-weight: 700;
}

h6 {
  @include heading($-h6-font-size, $-h6-line-height);
  font-weight: 900;
}
