/// lists

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul[class] {
  padding: 0;
  list-style: none;
}

ul {
  list-style-type: disc;
  // prettier-ignore
  ul & { list-style-type: square; }
  // prettier-ignore
  ul ul & { list-style-type: circle; }
}

ol {
  list-style-type: decimal;
  // prettier-ignore
  ol & { list-style-type: lower-roman; }
  // prettier-ignore
  ol ol & { list-style-type: lower-alpha; }
}

$-marker-color: color(neutral, 6);

li {
  margin: 0;
  padding: 0;
  // prettier-ignore
  &::marker { color: $-marker-color; }

  // prettier-ignore
  li + & { margin-top: 0.5rem; }
  // prettier-ignore
  ul[class] &,
  li & { margin-top: 0; }
}

dt {
  color: $-marker-color;
  // prettier-ignore
  & ~ dt { margin-top: 0.5rem; }
  // prettier-ignore
  dt & { margin-top: 0; }
}

dd {
  margin: 0;
  margin-left: 1rem;
}
