[m-button] {
  // width: auto;
  user-select: none;
  display: inline-flex;
  // @include flex-center;
  @include radius;
  @include text-upper;
  @include border(all, 1px, transparent);

  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
  }

  @include button-sizing($-button-size-df);
  @include button-varify($-button-style-df, $-button-theme-df);
}

// sizes

@each $name in $-button-size-names {
  [m-button~='#{$name}'] {
    @include button-sizing($name);
  }
}

// variants

@each $style in $-button-styles {
  [m-button~='#{$style}'] {
    @include button-varify($style, $-button-theme-df);
  }
}

@each $theme in $-button-themes {
  [m-button~='#{$theme}'] {
    @include button-varify($-button-style-df, $theme);

    @each $style in $-button-styles {
      &[m-button~='#{$style}'] {
        @include button-varify($style, $theme);
      }
    }
  }
}
