// for highlightjs

// Ayu Mirage

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #cbccc6;
  background: #1f2430;
}

.hljs-comment,
.hljs-quote {
  color: #5c6773;
}

// Green
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #ffa759;
}

// Cyan
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #bae67e;
}

// Blue
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #73d0ff;
}

// Yellow
.hljs-abbribute,
.hljs-abbr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #ffd580;
}

// Orange
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-abbr,
.hljs-selector-pseudo,
.hljs-link {
  color: #ffa759;
}

// Red
.hljs-built_in,
.hljs-deletion {
  color: #ff3333;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
