[m-icon] {
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;

  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  // vertical-align: top;
}
