@use 'sass:map';
@use "../essence" as *;

$colors: (gray, blue, green, orange, red, violet) !default;

:root {
  --color-black: #{color-raw(black)};
  --color-white: #{color-raw(white)};

  @each $name in $colors {
    @for $tone from 0 to 10 {
      --color-#{'' + $name}-#{'' + $tone}: #{color-raw($name, $tone)};
    }
  }

  --fg-main: var(--color-gray-9);
  --fg-secd: var(--color-gray-7);
  --fg-tert: var(--color-gray-6);
  --fg-mute: var(--color-gray-4);

  --bg-main: var(--color-gray-1);
  --bg-secd: var(--color-white);
  --bg-tert: var(--color-gray-0);
  --bg-mute: var(--color-gray-2);

  --bd-soft: var(--color-gray-1);
  --bd-main: var(--color-gray-2);
  --bd-bold: var(--color-gray-3);
}

.tm-dark {
  // --color-black: #{color(dark-black)};
  // --color-white: #{color(dark-white)};

  // @each $name in $colors {
  //   @for $tone from 0 to 10 {
  //     --color-#{'' + $name}-#{'' + $tone}: #{color('dark-' + $name, $tone)};
  //   }
  // }

  @include fgvar(main, neutral, 0);

  --fg-main: var(--color-gray-0);
  --fg-secd: var(--color-gray-2);
  --fg-tert: var(--color-gray-3);
  --fg-mute: var(--color-gray-4);

  --fg-link: var(--color-blue-5);

  --bg-main: var(--color-black);
  --bg-secd: var(--color-gray-9);
  --bg-tert: var(--color-gray-8);
  --bg-mute: var(--color-gray-6);

  --bd-soft: var(--color-gray-8);
  --bd-main: var(--color-gray-7);
  --bd-bold: var(--color-gray-6);
}

:root {
  --font-sans: #{$font-sans};
  --font-mono: #{$font-mono};

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 16px;

  --lh-normal: 1.5rem;
  --lh-narrow: 1.25rem;
  --lh-packed: 1rem;
}

// prettier-ignore
:root {
  $gutter: (xs, sm, md, lg);
  $verpad: (xs: md, md: lg, xl: xl);
  $gutter-small: (xs: ss, sm: xs, md: sm, lg: md);
  $gutter-large: (xs: sm, sm: md, md: lg, lg: xl);

  --gutter-ss: 0.25rem;
  --gutter-xs: 0.5rem;
  --gutter-sm: 0.75rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.25rem;
  --gutter-xl: 1.5rem;

  // fluild gutter
  @each $key in $gutter {
    @include bp-min($key) {
      --gutter: #{'var(--gutter-#{$key})'};

      $small-val: map.get($gutter-small, $key) or $key;
      --gutter-small: #{'var(--gutter-#{$small-val})'};

      $large-val: map.get($gutter-large, $key) or $key;
      --gutter-large: #{'var(--gutter-#{$large-val})'};
    }
  }

  @each $key, $val in $verpad {
    --verpad-#{$key}: #{'var(--gutter-#{$val})'};

    @include bp-min($key) {
      --verpad: #{'var(--gutter-#{$val})'};
    }
  }
}

:root {
  --height-xs: 1rem;
  --height-sm: 1.5rem;
  --height-md: 2rem;
  --height-lg: 2.5rem;
  --height-xl: 3rem;

  --ftsize-ss: #{rem(10px)};
  --ftsize-xs: #{rem(12px)};
  --ftsize-sm: #{rem(14px)};
  --ftsize-md: #{rem(16px)};
  --ftsize-lg: #{rem(18px)};
  --ftsize-xl: #{rem(20px)};
  --ftsize-x2: #{rem(24px)};
  --ftsize-x3: #{rem(30px)};
  --ftsize-x4: #{rem(36px)};
  --ftsize-x5: #{rem(48px)};

  --ftsize-code: 0.875em;
}
