a {
  touch-action: manipulation;
}

a[class] {
  text-decoration: none;
}

a:not([class]),
.m-link {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
