@mixin tm-dark($svelte: true) {
  @if ($svelte) {
    :global(.tm-dark) &,
    &:global(.tm-dark) {
      @content;
    }
  } @else {
    &.tm-dark,
    .tm-dark & {
      @content;
    }
  }
}

@mixin radius($size: md) {
  @if type-of($size) == number {
    border-radius: $size;
  } @else {
    border-radius: 'var(--radius-#{$size})';
  }
}

@mixin ftsize($size: md) {
  @if type-of($size) == number {
    font-size: $size;
  } @else {
    font-size: #{var(--ftsize-#{$size})};
  }
}
