@use "../defs" as *;

@mixin flow-gap($gap: 0.5rem, $child: '*') {
  > #{$child} + #{$child} {
    @include props(margin-left, $gap);
  }
}

@mixin flex-gap($gap: 0.5rem, $child: '*') {
  > #{$child} + #{$child} {
    @include props(margin-left, $gap);
  }
}

@mixin line-gap($gap: 0.5rem, $child: '*') {
  > #{$child} + #{$child} {
    @include props(margin-top, $gap);
  }
}

@mixin grid-gap($gap: 0.5rem) {
  @include props(grid-gap, $gap);
}

// clearfix
@mixin flow($modern: false) {
  @if $modern {
    display: flow-root;
  } @else {
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }
}

// prettier-ignore
@mixin flex-center($mode: both) {
  @if $mode == items or $mode == both { align-items: center; }
  @if $mode == content or $mode == both { justify-content: center; }
}

@mixin flex($center: null, $wrap: false) {
  display: flex;
  // prettier-ignore
  @if ($wrap) { flex-wrap: wrap; }
  @include flex-center($mode: $center);
}

@mixin grid($size) {
  display: grid;
  grid-template-columns: repeat(auto-fill, $size);
}

@mixin auto-center($width) {
  margin: 0 auto;
  width: $size;
  max-width: 100%;
}
