// configs

$-mod-button: true !default;

$-button-sizes: tiny, small, medium, large, huge !default;
$-button-styles: text, line, solid, raise !default;

$-button-default-size: medium !default;
$-button-default-style: solid !default;

// mixins

@mixin -button-size($size, $font-size) {
    @include height($size);
    @include font-size($font-size);

    &.-icon {
        width: $size;
    }
}

@mixin -button-fill-color($color) {
    @include color(white);
    @include bgcolor($color, 5);

    @include hover() {
        @include bgcolor($color, 4);
    }
}

@mixin -button-line-color($color) {
    background: transparent;
    @include color($color, 6);
    @include bdcolor($color, 4);

    @include hover() {
        @include bgcolor($color, 2);
    }
}

@mixin button-color-text($color) {
    background: transparent;
    @include color($color, 7);
    @include hover() {
        @include bgcolor($color, 2);
    }
}

@mixin button-color($color: neutral) {
    &,
    &.-fill,
    &.-rise {
        @include -button-fill-color($color);
    }

    &.-line {
        @include -button-line-color($color);
    }

    &.-text {
        @include button-color-text($color);
    }
}

@if $-feat-button {
    .m-button {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        @include corner(md);
        @include border(transparent, 1px);
    }
}

// button sizes

.m-button {
    &.-tiny {
        @include -button-size(1.25rem, xs);
    }

    &.-small {
        @include -button-size(1.5rem, sx);
    }

    &,
    &.-medium {
        @include -button-size(2rem, sm);
    }

    &.-large {
        @include -button-size(2.5rem, md);
    }

    &.-huge {
        @include -button-size(3rem, lg);
    }
}

// button widths

.m-button {
    &,
    &.-normal {
        padding: 0 1em;
    }

    &.-narrow {
        padding: 0 0.5em;
    }

    &.-widely {
        padding: 0 1.5em;
    }

    &.-block {
        display: block;
        width: 100%;
    }
}

// button styles

.m-button {
    &.-icon {
        @include corner(9999px);
        padding: 0;
    }

    &.-rise {
        // @include shadow(md);
        box-shadow: 0 3px 6px rgba(#000, 0.1), 0 1px 2px rgba(#000, 0.2);
    }

    &,
    &.-default {
        @include button-color(neutral);

        &,
        &.-fill,
        &.-rise {
            @include color(neutral, 7);
            @include bgcolor(neutral, 2);
            @include hover {
                @include color(neutral, 7);
                @include bgcolor(neutral, 3);
            }
        }
    }

    &.-primary {
        @include button-color(primary);
    }

    &.-success {
        @include button-color(success);
    }

    &.-harmful {
        @include button-color(harmful);
    }

    &.-gray {
        @include button-color(gray);
    }

    &.-red {
        @include button-color(red);
    }

    &.-orange {
        @include button-color(orange);
    }

    &.-yellow {
        @include button-color(yellow);
    }

    &.-green {
        @include button-color(green);
    }

    &.-teal {
        @include button-color(teal);
    }

    &.-blue {
        @include button-color(blue);
    }

    &.-indigo {
        @include button-color(indigo);
    }

    &.-purple {
        @include button-color(purple);
    }

    &.-pink {
        @include button-color(pink);
    }

    &.-disable,
    &[disabled] {
        @include color(neutral, 5);
        @include bgcolor(neutral, 2);
        box-shadow: none;
        @include hover {
            cursor: text;
            @include color(neutral, 5);
            @include bgcolor(neutral, 2);
        }
    }
}
