// credit: https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss

@use "../_core" as *;

$code-font-size: 0.875em !default;

// Code

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  direction: ltr #{'/* rtl:ignore */'};
  unicode-bidi: bidi-override;
  border-radius: var(--radius, 4px);
}

pre {
  --pre-fg: var(--color-gray-7);
  --pre-bg: var(--color-gray-1);

  display: block;
  margin-top: 0;
  margin-bottom: var(--spacer);

  font-size: $code-font-size;
  color: var(--pre-fg);
  line-height: inherit;

  // Account for some code outputs that place code tags in pre tags
  code {
    display: block;
    font-size: inherit;
    color: inherit;
    word-break: normal;
    padding: 0.75rem var(--gutter);
    overflow: auto; // 3
  }
}

code {
  --code-fg: var(--color-blue-6);
  --code-bg: var(--color-gray-0);

  font-size: $code-font-size;
  color: var(--code-fg);
  background-color: var(--code-bg);
  padding: 0 0.25em;

  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }

  @include dark-mode {
    --code-fg: var(--color-blue-3);
    --code-bg: var(--color-gray-9);
  }
}

kbd {
  $kbd-font-size: 0.875em;
  $kbd-padding-x: 0.125em;
  $kbd-padding-y: 0.25em;

  --kbd-fg: var(--color-gray-7);
  --kbd-bg: var(--color-gray-1);

  padding: $kbd-padding-y $kbd-padding-x;
  font-size: $kbd-font-size;
  color: var(--kbd-fg);
  background-color: var(--kbd-bg);

  border-radius: 2px;

  kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 500;
  }
}
