@import 'm-button/button-sizing';
@import 'm-button/button-varify';

.m-button {
  // width: auto;
  user-select: none;
  display: inline-flex;

  @include text-upper;
  @include border-radius();
  @include border(all, 1px, transparent);

  &:disabled,
  &._disable {
    @include hover {
      cursor: not-allowed;
    }
  }

  // sizings

  @include button-sizing($-button-size-df);
  // prettier-ignore
  @each $name in $-button-size-names {
    &._#{$name} { @include button-sizing($name); }
  }

  // variants

  @include button-varify($-button-style-df, $-button-theme-df);

  @each $style in $-button-styles {
    &._#{$style} {
      @include button-varify($style, $-button-theme-df);
    }
  }

  @each $theme in $-button-themes {
    &._#{$theme} {
      @include button-varify($-button-style-df, $theme);
    }

    @each $style in $-button-styles {
      &._#{$style}._#{$theme} {
        @include button-varify($style, $theme);
      }
    }
  }
}
