// credit: https://github.com/primer/css/blob/main/src/support/variables/layout.scss

// These are our margin and padding utility spacers.
// prettier-ignore
$spacer: (
  0: 0rem,
  1: 0.25rem, // 4px
  2: 0.5rem, // 8px
  3: 0.75rem, // 12px
  4: 1rem, // 16px
  5: 1.25rem, // 20px
  6: 1.5rem, // 24px
  7: 1.75rem, // 28px
) !default;

// prettier-ignore
$spacer-lg: (
  8: 2rem, // 32px
  9: 2.5rem, // 40px
  10: 3rem, // 48px
  11: 4rem, // 64px
  12: 5rem, // 80px
  13: 6rem, // 96px
  14: 7rem, // 112px
  15: 8rem, // 128px
) !default;

$spacer-all: map-merge(
  $map1: $spacer,
  $map2: $spacer-lg,
);

// Em spacer variables
// prettier-ignore
$spacer-em: (
  1: 0.0625em, // 1/16
  2: 0.125em, // 1/8
  3: 0.25em, // 1/4
  4: 0.375em, // 3/8
  5: 0.5em, // 1/2
  6: 0.75em, // 3/4
);

// Size scale
// prettier-ignore
$sizings: (
  0: 0rem,
  1: 1rem, // 16px
  2: 1.25rem, // 20px
  3: 1.5rem, // 24px
  4: 1.75rem, // 28px
  5: 2rem, // 32px
  6: 2.5rem, // 40px
  7: 3rem, // 48px
  8: 4rem, // 64px
) !default;

$sidebar-widths: (
  sm: 13.75rem,
  md: 16rem,
  lg: 18.5rem,
  xl: 20rem,
) !default;

// sidebar-dense, sidebar-roomy: to be considered

$container-width: 960px !default; // inner width
