$-border-sides: join($-side-edges, $-side-flanks) !default;
$-border-widths: 0, 1px, 2px !default;
// prettier-ignore
$-border-styles: ( none: n, inset: i, hidden: h, solid: s,
                   double: db, dotted: dt, dashed: ds, ) !default;
// all

.u-bd {
  @include border(all);
}

@each $width in $-border-widths {
  // prettier-ignore
  .u-bd-#{strip-unit($width)} { @include border(all, $width); }
}
// styles
@each $style, $class in $-border-styles {
  // prettier-ignore
  .u-bd-#{$class} { @include border-style(all, $style); }
}

@each $side in $-border-sides {
  $class: side-abbr($side);
  // prettier-ignore
  .u-bd-#{$class} { @include border($side); }

  @each $width in $-border-widths {
    .u-bd-#{$class}-#{strip-unit($width)} {
      @include border($side, $width);
    }
  }
}
