$-radius-sides: join($-side-edges, $-side-corners) !default;
$-radius-sizes: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 6px,
  6: 8px,
  7: 10px,
  8: 12px,
  9: 16px,
  x: 1000px,
) !default;

$-radius-size-df: 4px !default;

.u-rd {
  border-radius: $-radius-size-df;
}

@each $key, $val in $-radius-sizes {
  .u-rd-#{$key} {
    @include border-radius(all, $val);
  }
}

@each $side in $-radius-sides {
  $abbr: side-abbr($side);

  @each $key, $val in $-radius-sizes {
    .u-rd-#{$key}-#{$abbr} {
      @include border-radius($side, $val);
    }
  }
}
