pre,
code,
kbd,
samp {
  @include font-family(mono);
}

kbd,
code {
  padding: 0 0.25em;
  font-size: 85%;
  line-height: inherit;
  @include border-radius();
}

kbd {
  @include color(neutral, 6);
  @include border($color: color(neutral, 4));
  @include box-shadow(1);
}

code {
  @include color(primary, 8);
  @include bgcolor(primary, 1);
}

pre {
  display: block;
  margin: 0.5rem 0;

  & > code {
    display: block;
    overflow-x: auto;
    padding: 0.5em 1em;
    color: #cbccc6;
    background: #1f2430;
    @include border-radius(0.25rem);
  }
}
