$m-sides: top, bottom, left, right;
$m-flanks: top-bottom, left-right;
$m-corners: top-left, top-right, bottom-left, bottom-right;

// prettier-ignore
@function match-edge($edge1, $edge2) {
  @if type-of($edge1) != string { @error "edge `#{$edge1}` should be a string"; }
  @if type-of($edge2) != string { @error "edge `#{$edge2}` should be a string"; }
  @return str-index($edge1, $edge2) or str-index($edge2, $edge1);
}

@function map-sides($edges) {
  $output: ();

  @each $side in $m-sides {
    @if str-index($edges, $side) {
      $output: append($output, $side);
    }
  }

  @return $output;
}

@function map-corners($side) {
  $output: ();

  @each $corner in $m-corners {
    @if str-index($corner, $side) {
      $output: append($output, $corner);
    }
  }

  @return $output;
}
