/// links

a[m-button],
a[class] {
  text-decoration: none;
}

$-link-internal: color(teal, 5) !default;
$-link-external: color(teal, 6) !default;
$-link-external-visited: color(purple, 6) !default;

a:not([class]):not([m-button]) {
  color: $-link-internal;
  text-decoration: none;
  // text-decoration-skip-ink: auto;
  padding: 0.125em 0.25em;
  margin: -0.125em -0.25em;
  font-weight: 500;
  // transition: all 0.1s ease-in-out;
  @include radius();

  @include hover {
    color: lighten($-link-internal, 5%);
    background-color: rgba($-link-internal, 0.1);
  }

  &[href*="//"] {
    color: color(teal, 6);

    @include hover {
      color: lighten($-link-external, 5%);
      background-color: rgba($-link-external, 0.1);
    }

    &:visited {
      color: $-link-external-visited;
      @include hover {
        color: lighten($-link-external-visited, 5%);
        background-color: rgba($-link-external-visited, 0.1);
      }
    }
  }
}
