/// blockquotes

$-blockquote-gutter: rem(3x) !default;
$-blockquote-color: color(neutral, 6) !default;
$-blockquote-border: rem(1x) !default;
$-blockquote-bdcolor: color(neutral, 6) !default;
$-blockquote-bgcolor: rgba($-blockquote-color, 0.05) !default;

blockquote {
  padding: $-blockquote-gutter;
  color: $-blockquote-color;
  background-color: $-blockquote-bgcolor;

  // @include radius();

  @include border(
    $side: left,
    $width: $-blockquote-border,
    $color: $-blockquote-bdcolor
  );

  > * + * {
    margin-top: $-blockquote-gutter;
  }
}
