article > * + * {
  margin-top: 1rem;
}

p {
  font-size: 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

del,
ins,
mark {
  padding: 0 0.25rem;
  line-height: inherit;
  @include border-radius();
}

del {
  @include color(red, 7);
  @include bgcolor(red, 2);
}

ins {
  @include color(green, 7);
  @include bgcolor(green, 2);
}

mark {
  @include color(yellow, 7);
  @include bgcolor(yellow, 2);
}

time,
var {
  @include color(primary, 6);
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}
