$-button-height-1: rem(5bs) !default;
$-button-height-2: rem(6bs) !default;
$-button-height-3: rem(8bs) !default;
$-button-height-4: rem(10bs) !default;
$-button-height-5: rem(12bs) !default;

$-button-heights: (
  $-button-height-1,
  $-button-height-2,
  $-button-height-3,
  $-button-height-4,
  $-button-height-5
);

$-button-font_size-1: 1 !default;
$-button-font_size-2: 2 !default;
$-button-font_size-3: 3 !default;
$-button-font_size-4: 4 !default;
$-button-font_size-5: 5 !default;

$-button-font_sizes: (
  $-button-font_size-1,
  $-button-font_size-2,
  $-button-font_size-3,
  $-button-font_size-4,
  $-button-font_size-5
);

$-button-size-df: 3 !default;
$-button-size-names: tiny, small, medium, large, huge !default;

@mixin button-sizing($size: 3) {
  $index: index($-button-size-names, $size) or $size;

  $font_size: nth($-button-font_sizes, $index);
  $icon-size: font-size($font_size);
  $text-size: font-size($font_size - 1);

  $height: nth($-button-heights, $index);
  $padding: ($height - $icon-size) / 2 - rem(1px);

  height: $height;
  padding: $padding;

  line-height: $icon-size;
  font-size: $icon-size;

  > span {
    font-size: $text-size;
    padding: ($icon-size - $text-size) / 2;
  }
}
