$-button-styles: text, line, solid !default;
$-button-themes: neutral, primary, success, warning, harmful !default;
$-button-style-df: solid !default;
$-button-theme-df: neutral !default;

@mixin button-varify($style: solid, $theme: neutral) {
  @if $style == line {
    border-color: color(neutral, 3);
    &:disabled,
    &._disable {
      border-color: color(neutral, 2);
    }
  } @else {
    border-color: transparent;
  }

  @if $style == solid {
    @if $theme == neutral {
      @include color(neutral, 6);
      @include bgcolor(neutral, 2);
      @include hover {
        @include bgcolor(neutral, 3);
      }

      &:disabled,
      &._disable {
        @include color(neutral, 4);
        @include bgcolor(neutral, 2);
      }
    } @else {
      color: #fff;
      @include bgcolor($theme, 5);
      @include hover {
        @include bgcolor($theme, 4);
      }

      &:disabled,
      &._disable {
        @include bgcolor($theme, 3);
      }
    }
  } @else {
    @include color($theme, 5);

    background-color: transparent;
    @include hover {
      background-color: color(neutral, 2);
    }

    &:disabled,
    &._disable {
      @include color($theme, 3);
      background-color: transparent;
    }
  }
}
