// configs

$-border-width-df: 1px !default;
$-border-style-df: solid !default;
$-border-color-df: color(neutral, 3) !default;

// helpers
@mixin border-color($side: all, $color: $-border-color-df) {
  // prettier-ignore
  @if $side == all { border-color: $color; }
  @each $edge in $-side-edges {
    @if side-match($edge, $side) {
      border-#{$edge}-color: $color;
    }
  }
}
@mixin border-style($side: all, $style: $-border-style-df) {
  // prettier-ignore
  @if $side == all { border-style: $style; }
  @each $edge in $-side-edges {
    @if side-match($edge, $side) {
      border-#{$edge}-style: $width;
    }
  }
}
@mixin border-width($side: all, $width: $-border-width-df) {
  // prettier-ignore
  @if $side == all { border-width: $width; }
  @each $edge in $-side-edges {
    @if side-match($edge, $side) {
      border-#{$edge}-width: $width;
    }
  }
}
@mixin border(
  $side: all,
  $width: $-border-width-df,
  $color: $-border-color-df,
  $style: $-border-style-df
) {
  @if ($width == 0) {
    border: 0;
  } @else {
    $border: $width $-border-style-df $color;

    // prettier-ignore
    @if $side == all { border: $border; }

    @each $edge in $-side-edges {
      // prettier-ignore
      @if side-match($edge, $side) { border-#{$side}: $border; }
    }
  }
}
