// configs
$-font-sizes: (
  xxs: rem(10px),
  xs: rem(12px),
  sm: rem(14px),
  md: rem(16px),
  lg: rem(18px),
  x1: rem(20px),
  x2: rem(24px),
  x3: rem(30px),
  x4: rem(36px),
  x5: rem(48px),
  x6: rem(64px),
) !default;

@function font-size($size: md) {
  @return map-get($-font-sizes, $size) or $size;
}

@mixin font-size($size: md) {
  font-size: font-size($size);
}
