// Sizing shortcuts

@mixin width($size, $pad: null) {
  width: size($size);
  // prettier-ignore
  @if $pad { @include padding($pad, -lr); }
}

@mixin height($size, $pad: null) {
  height: size($size);
  // prettier-ignore
  @if $pad { @include padding($pad, -tb); }
}

// TODO: rethink
@mixin box($display: block, $width: 100%, $height: null, $padding: null) {
  display: $display;
  @include width($width, $padding);
  // prettier-ignore
  @if ($height) { @include height($height, $padding); }
}
