/// tables

$gutter: rem(4x) !default;

$-table-padding: rem(2x) !default;
$-table-bgcolor: color(neutral, 1) !default;
$-table-bdcolor: color(neutral, 3) !default;
$-table-capcolor: color(neutral, 5) !default;
$-table-thcolor: color(primary, 8) !default;

table {
  border-collapse: collapse;
}

caption {
  @include padding($-table-padding, $sides: top-bottom);
  color: $-table-capcolor;
  text-align: left;
  caption-side: bottom;
}

thead,
tr:nth-child(even) {
  background-color: $-table-bgcolor;
}

th {
  color: $-table-thcolor;
  text-align: inherit;
  font-weight: normal;
}

th,
td {
  padding: $-table-padding $gutter;
  @include border($color: $-table-bdcolor, $width: 1px);
}
