@use "../essence" as *;

:root {
  $colors: (gray, blue, green, yellow, orange, red, purple) !default;

  --color-black: #{color-raw(black)};
  --color-white: #{color-raw(white)};

  @each $name in $colors {
    @for $tone from 0 to 10 {
      #{color-name($name, $tone)}: #{color-raw($name, $tone)};
    }
  }

  @include dark-mode {
    --color-black: #{color-raw(dark-black)};
    --color-white: #{color-raw(dark-white)};

    @each $name in $colors {
      @for $tone from 0 to 10 {
        #{color-name($name, $tone)}: #{color-raw('dark-' + $name, $tone)};
      }
    }
  }

  --radius: 4px;

  @include props(--gutter, $gutter);
  @include props(--spacer, $gutter-roomy);

  --font-sans: #{$font-sans};
  --font-mono: #{$font-mono};

  font-size: 100%;

  // enable smooth scrolling
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

html,
body,
main {
  min-height: 100%;
}

body {
  --color-text: var(--color-gray-9);
  --color-label: var(--color-gray-7);
  --color-muted: var(--color-gray-5);

  --main-fg: var(--color-text);
  --main-bg: var(--color-gray-0);
  --bdcolor: var(--color-gray-1);

  margin: 0;
  min-width: 320px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-sans);

  color: var(--main-fg);
  background-color: var(--main-bg);

  overflow-y: scroll;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);

  @include dark-mode {
    --color-text: var(--color-gray-0);
    --color-label: var(--color-gray-1);
    --color-muted: var(--color-gray-2);

    --main-bg: var(--color-gray-9);
    --bdcolor: var(--color-gray-7);
  }
}
