// map-get with default value
@function map-get-df($map, $key, $default: null) {
    $val: map-get($map, $key);

    @if $val {
        @return $val;
    } @else {
        @return $default;
    }
}

// convert px to em
@function em($size, $base: 16) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    @if unitless($base) {
        $base: $base * 1px;
    }
    @return $size / $base * 1em;
}

// convert px to rem
@function rem($size, $base: 16) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    @if unitless($base) {
        $base: $base * 1px;
    }
    @return $size / $base * 1rem;
}

// maintain vertical rhythm
@function gap($size: 1, $base: 0.25rem) {
    @return $size * $base;
}

// convert unitless size to gaps
@function size($size) {
    // prettier-ignore
    @if unitless($size) { @return gap($size); }
    @return $size;
}
