/// utils

// map-get with default value
@function map-get-f($map, $key, $default: null) {
    $val: map-get($map, $key);

    @if $val {
        @return $val;
    } @else {
        @return $default;
    }
}

/// colors

// get color by name and tone
@function color($color, $tone: 5) {
    @if $color == black {
        @return $-color-black;
    }
    @if $color == white {
        @return $-color-white;
    }

    $color: map-get-f($-color-aliases, $color, $color);
    @if not map-has-key($-color-palette, $color) {
        @warn "unknown color name";
        @return $color;
    }

    @if $tone < 1 or $tone > 9 {
        @warn "color tone should be in range 1..9";
        $tone: 5;
    }

    $tones: map-get($-color-palette, $color);
    @return map-get($tones, $tone);
}

/// sizes

// convert px to em
@function em($size, $base: 16) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    @if unitless($base) {
        $base: $base * 1px;
    }
    @return $size / $base * 1em;
}

// convert px to rem
@function rem($size, $base: 16) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    @if unitless($base) {
        $base: $base * 1px;
    }
    @return $size / $base * 1rem;
}

// maintain vertical rhythm
@function size($size: 1, $base: 0.25rem) {
    @return $size * $base;
}
