$-abbrs: (
  color: c,
  bgcolor: bg,
  padding: p,
  margin: m,
  border: bd,
  radius: rd,
  shadow: sd,
  zindex: z,
  clearfix: cf,
  float-left: fl,
  float-right: fr,
  flex-center: center,
) !default;

@function abbr($key, $df: $key) {
  $val: map-get($-abbrs, $key);
  @if $val == null {
    @warn "unknow abbr for '#{$key}'";
    @return $df;
  }

  @return $val;
}

// @debug abbr(side, top);
