@function str-append($before, $after: null) {
  @if $after {
    $before: #{$before}-#{$after};
  }
  @return $before;
}

@function join-props($props...) {
  $length: length($props);
  $output: nth($props, 1);

  @for $index from 2 through $length {
    $value: nth($props, $index);
    @if $value {
      $output: #{$output}-#{$value};
    }
  }

  @return $output;
}
