// variables

$-screen-xs: 320px !default;
$-screen-sm: 560px !default;
$-screen-md: 800px !default;
$-screen-lg: 1040px !default;
$-screen-xl: 1280px !default;

$-screen-sizes: (
  sm: $-screen-sm,
  md: $-screen-md,
  lg: $-screen-lg,
  xl: $-screen-xl,
) !default;

$-screen-names: map-keys($-screen-sizes);
