// mixins

@mixin screen-min($min: sm) {
  @if $min == null or $min == xs {
    @content;
  } @else {
    $size-min: screen-size($min);
    @media screen and (min-width: $size-min) {
      @content;
    }
  }
}

@mixin screen-max($max: xl) {
  @if $max == null {
    @content;
  } @else {
    $size-max: screen-size($max) - 1px;
    @media screen and (max-width: $size-max) {
      @content;
    }
  }
}

@mixin screen-range($min: sm, $max: xl) {
  $size-min: screen-size($min);
  $size-max: screen-size($max) - 1px;
  @media screen and (min-width: $size-min) and (max-width: $size-max) {
    @content;
  }
}

@mixin screen-height-min($min: sm) {
  // default is small tablet
  @if $min == null {
    @content;
  } @else {
    $size-min: screen-size($min);
    @media screen and (min-height: $size-min) {
      @content;
    }
  }
}

@mixin screen-height-max($max: xl) {
  // default is large tablet
  @if $max == null {
    @content;
  } @else {
    $size-max: screen-size($max) - 1px;
    @media screen and (max-height: $size-max) {
      @content;
    }
  }
}

@mixin screen-height-range($min: sm, $max: xl) {
  $size-min: screen-size($min);
  $size-max: screen-size($max) - 1px;
  @media screen and (min-height: $size-min) and (max-height: $size-max) {
    @content;
  }
}
