$-sides: top, bottom, left, right;

$-side-edges: top, bottom, left, right;
$-side-flanks: top-bottom, left-right;
$-side-corners: top-left, top-right, bottom-left, bottom-right;

$-side-abbrs: (
  top: t,
  bottom: b,
  left: l,
  right: r,
  top-left: tl,
  top-right: tr,
  top-bottom: tb,
  bottom-left: bl,
  bottom-right: br,
  left-right: lr,
);

// prettier-ignore
@function side-abbr($side) {
    $abbr: map-get($-side-abbrs, $side);
    @if $abbr { @return $abbr; }

    @error "unknown side named '#{$side}'";
}

// prettier-ignore
@function side-match($side1, $side2) {
    @if $side1 == $side2 { @return true; }

    @if $side1 == top-left { @return $side2 == top or $side2 == left; }
    @if $side1 == top-right { @return $side2 == top or $side2 == right; }
    @if $side1 == bottom-left { @return $side2 == bottom or $side2 == left; }
    @if $side1 == bottom-right { @return $side2 == bottom or $side2 == right; }
    @if $side1 == top-bottom { @return $side2 == top or $side2 == bottom; }
    @if $side1 == left-right { @return $side2 == left or $side2 == right; }

    // @if index($-side-edges, $side1) { @return side-match($side2, $size1); }
    @return false;
}

// @debug side-match(top-left, left);
// @debug side-match(left, left-right);
