$-sides: top, bottom, left, right;
$-flanks: top-bottom, left-right;
$-corners: top-left, top-right, bottom-left, bottom-right;

$-side-abbrs: (
  top: t,
  bottom: b,
  left: l,
  right: r,
  top-left: tl,
  top-right: tr,
  bottom-left: bl,
  bottom-right: br,
  top-bottom: tb,
  left-right: lr,
) !default;

@function side-abbr($key) {
  $abbr: map-get($-side-abbrs, $key);

  @if $abbr == null {
    @error "unknown side '#{$key}'";
  }
  @return $abbr;
}

@function side-match($side1, $side2) {
  @return str-index($side1, $side2) or str-index($side2, $side1);
}

// @debug side-match(top-left, left);
// @debug side-match(left, left-right);
