// variables

$-screen-1: 320px !default; // small phone
$-screen-2: 360px !default; // medium phone
$-screen-3: 480px !default; // large phone
$-screen-4: 640px !default; // small tablet
$-screen-5: 768px !default; // medium tablet
$-screen-6: 960px !default; // large tablet
$-screen-7: 1200px !default; // small computer monitor
$-screen-8: 1500px !default; // medium computer monitor
$-screen-9: 1800px !default; // large computer monitor

$-screen-sizes: (
    ps: $-screen-1,
    pm: $-screen-2,
    pl: $-screen-3,
    ts: $-screen-4,
    tm: $-screen-5,
    tl: $-screen-6,
    cs: $-screen-7,
    cm: $-screen-8,
    cl: $-screen-9,
);

$-screen-names: map-keys($-screen-sizes);

// functions

/// get screen size by aliases
@function screen-size($size) {
    @if $size > 0 and $size < 10 {
        @return map-get($size);
    }

    @if type-of($size) == number {
        @warn "custom screen size (#{$size}) is not recommended";
        @return $size;
    }
}

// mixins

/// media query for screen min
@mixin screen-width-min($min: 4) {
    @if $min == null {
        @content;
    } @else {
        $size-min: screen-size($min);
        // prettier-ignore
        @media screen and (min-width: $size-min) { @content; }
    }
}

/// media query for screen max
@mixin screen-width-max($max: 6) {
    @if $min == null {
        @content;
    } @else {
        $size-max: screen-size($max) - 1px;
        // prettier-ignore
        @media screen and (max-width: $size-max) { @content; }
    }
}

/// media query for screen from min to max
@mixin screen-width-range($min, $max) {
    @if $min == null {
        @content;
    } @else {
        $size-min: screen-size($min);
        $size-max: screen-size($max) - 1px;
        @media screen and (min-width: $size-min) and (max-width: $size-max) {
            @content;
        }
    }
}

/// media query for screen min-height
@mixin screen-height-min($min: ts) {
    @if $min == null {
        @content;
    } @else {
        $size-min: screen-size($min);
        // prettier-ignore
        @media screen and (min-width: $size-min) { @content; }
    }
}

/// media query for screen max
@mixin screen-height-max($max: tl) {
    @if $min == null {
        @content;
    } @else {
        $size-max: screen-size($max) - 1px;
        // prettier-ignore
        @media screen and (max-width: $size-max) { @content; }
    }
}

/// media query for screen from min to max
@mixin screen-height-range($min, $max) {
    @if $min == null {
        @content;
    } @else {
        $size-min: screen-size($min);
        $size-max: screen-size($max) - 1px;
        @media screen and (min-width: $size-min) and (max-width: $size-max) {
            @content;
        }
    }
}
