// variables
$-bdr-dirs: a, t, l, b, r, tl, tr, bl, br; // a means all
$-bdr-sizes: 0, 1, 2, 3, 4, 5 !default; // => x * .125rem
$-bdr-df-size: 2 !default;

// return border radiuses
@function bdr($val: 2) {
    // prettier-ignore
    @if not unitless($val) { @return $val; }
    @return $val * 0.125rem;
}

@mixin bdr($size: $-bdr-df-size, $dir: a) {
    $bdr: bdr($size);

    // prettier-ignore
    @if $dir == a { border-radius: $bdr; }
    // prettier-ignore
    @if $dir == t or $dir == -l or $dir == tl { border-top-left-radius: $bdr; }
    // prettier-ignore
    @if $dir == t or $dir == -r or $dir == tr { border-top-right-radius: $bdr; }
    // prettier-ignore
    @if $dir == b or $dir == l or $dir == bl { border-bottom-left-radius: $bdr; }
    // prettier-ignore
    @if $dir == b or $dir == r or $dir == br { border-bottom-right-radius: $bdr; }
}

@if $-util-classes {
    // prettier-ignore
    .__bdr { @include bdr(); }

    @each $dir in $-bdr-dirs {
        // prettier-ignore
        .__bdr-#{$dir} { @include bdr($dir); }
    }

    @each $size in $-bdr-sizes {
        // prettier-ignore
        .__bdr-#{$size} { @include bdr($size); }

        @each $dir in $-bdr-dirs {
            // prettier-ignore
            .__bdr-#{size}-#{$dir} { @include bdr($dir); }
        }
    }
}
