$shadow-xs: 0 1px 2px 0 rgba(#000, 0.1) !default;
$shadow-sm: 0 1px 3px 0 rgba(#000, 0.1), 0 1px 2px 0 rgba(#000, 0.06) !default;
$shadow-md: 0 4px 6px -1px rgba(#000, 0.1), 0 2px 4px -1px rgba(#000, 0.06) !default;
$shadow-lg: 0 10px 15px -3px rgba(#000, 0.1), 0 4px 6px -2px rgba(#000, 0.05) !default;
$shadow-xl: 0 20px 25px -5px rgba(#000, 0.1), 0 10px 10px -5px rgba(#000, 0.04) !default;
$shadow-xxl: 0 25px 50px -12px rgba(#000, 0.25) !default;
$shadow-inner: inset 0 2px 4px 0 rgba(#000, 0.06) !default;
$shadow-outline: 0 0 0 3px rgba(#4299e1, 0.5) !default;

@function sd($type) {
    @if $type == xs {
        @return $shadow-xs;
    } @else if $type == sm {
        @return $shadow-sm;
    } @else if $type == md {
        @return $shadow-md;
    } @else if $type == lg {
        @return $shadow-lg;
    } @else if $type == xl {
        @return $shadow-xl;
    } @else if $type == xxl {
        @return $shadow-xxl;
    } @else if $type == inner {
        @return $shadow-inner;
    } @else if $type == outline {
        @return $shadow-outline;
    } @else {
        @return $type;
    }
}

@mixin shadow($type: sm) {
    box-shadow: shadow($type);
}
