// font sizes

$-font-xs: 0.75rem !default;
$-font-sm: 0.875rem !default;
$-font-md: 1rem !default;
$-font-lg: 1.125rem !default;
$-font-xl: 1.25rem !default;
$-font-x2: 1.5rem !default;
$-font-x3: 1.875rem !default;
$-font-x4: 2.25rem !default;
$-font-x5: 3rem !default;
$-font-x6: 4rem !default;
