$-positions: -s, -a, -r, -f, -t;

@mixin pos($type: null) {
    @if $type == -s {
        position: static;
    } @else if $type == -a {
        position: absolute;
    } @else if $type == -r {
        position: relative;
    } @else if $type == -f {
        position: fixed;
    } @else if $type == -t {
        position: sticky;
    }
}

@mixin top($val: 0) {
    top: size($val);
}

@mixin right($val: 0) {
    right: size($val);
}

@mixin bottom($val: 0) {
    bottom: size($val);
}

@mixin left($val: 0) {
    left: size($val);
}

@mixin z-id($val) {
    z-index: $val * 10;
}

@if $-util-classes {
    @each $pos in $-positions {
        .__pos#{$pos} {
            @include pos($pos);
        }
    }

    @for $idx from 0 to 9 {
        .__z-#{$idx} {
            @include z-id($idx);
        }
    }
}
