/// root

html {
  font-size: 100%;
}

$-body-color: color(neutral, 8) !default;
$-body-bgcolor: color(neutral, 1) !default;
$-body-font-family: font-family(sans) !default;

body {
  min-width: $-screen-xs;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: $-body-font-family;

  text-align: left;
  vertical-align: baseline;
  overflow-y: scroll;

  background-color: $-body-bgcolor;
  color: $-body-color;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);

  // scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html,
body {
  height: 100%;
}

$-selection-bgcolor: color(neutral, 6) !default;
$-selection-color: color(neutral, 1) !default;
$-selection-color: white;

::selection {
  background-color: $-selection-bgcolor;
  color: $-selection-color;
}
