@mixin button-size($size, $font-size) {
  @include height($size);
  @include font-size($font-size);

  &._icon {
    width: $size;
  }
}

@mixin button-color-fill($color) {
  @include color(white);
  @include bgcolor($color, 5);

  @include hover() {
    @include bgcolor($color, 4);
  }
}

@mixin button-color-line($color) {
  background: transparent;
  @include color($color, 6);
  @include bdcolor($color, 4);

  @include hover() {
    @include bgcolor($color, 2);
  }
}

@mixin button-color-text($color) {
  background: transparent;
  @include color($color, 7);
  @include hover() {
    @include bgcolor($color, 2);
  }
}

@mixin button-color($color: neutral) {
  &,
  &._fill,
  &._rise {
    @include button-color-fill($color);
  }

  &._line {
    @include button-color-line($color);
  }

  &._text {
    @include button-color-text($color);
  }
}

@mixin button-size .m-btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  @include corner(md);
  @include border(transparent, 1px);
}

// button sizes

.m-btn {
  &._tiny {
    @include button-size(1.25rem, xs);
  }

  &._small {
    @include button-size(1.5rem, sx);
  }

  &,
  &._medium {
    @include button-size(2rem, sm);
  }

  &._large {
    @include button-size(2.5rem, md);
  }

  &._huge {
    @include button-size(3rem, lg);
  }
}

// button widths

.m-btn {
  &,
  &._normal {
    padding: 0 1em;
  }

  &._narrow {
    padding: 0 0.5em;
  }

  &._widely {
    padding: 0 1.5em;
  }

  &._block {
    display: block;
    width: 100%;
  }
}

// button styles

.m-btn {
  &._icon {
    @include corner(9999px);
    padding: 0;
  }

  &._rise {
    // @include shadow(md);
    box-shadow: 0 3px 6px rgba(#000, 0.1), 0 1px 2px rgba(#000, 0.2);
  }

  &,
  &._default {
    @include button-color(neutral);

    &,
    &._fill,
    &._rise {
      @include color(neutral, 7);
      @include bgcolor(neutral, 2);
      @include hover {
        @include color(neutral, 7);
        @include bgcolor(neutral, 3);
      }
    }
  }

  &._primary {
    @include button-color(primary);
  }

  &._success {
    @include button-color(success);
  }

  &._harmful {
    @include button-color(harmful);
  }

  &._gray {
    @include button-color(gray);
  }

  &._red {
    @include button-color(red);
  }

  &._orange {
    @include button-color(orange);
  }

  &._yellow {
    @include button-color(yellow);
  }

  &._green {
    @include button-color(green);
  }

  &._teal {
    @include button-color(teal);
  }

  &._blue {
    @include button-color(blue);
  }

  &._indigo {
    @include button-color(indigo);
  }

  &._purple {
    @include button-color(purple);
  }

  &._pink {
    @include button-color(pink);
  }

  &._disable,
  &[disabled] {
    @include color(neutral, 5);
    @include bgcolor(neutral, 2);
    box-shadow: none;
    @include hover {
      cursor: text;
      @include color(neutral, 5);
      @include bgcolor(neutral, 2);
    }
  }
}
