/// Border radius

$corner-sm: 0.125rem !default;
$corner-md: 0.25rem !default;
$corner-lg: 0.5rem !default;
$corner-full: 9999px !default;

@function corner($name) {
    @if $name == sm {
        @return $corner-sm;
    } @else if $name == md {
        @return $corner-md;
    } @else if $name == lg {
        @return $corner-lg;
    } @else if $name == full {
        @return $corner-full;
    } @else if unitless($name) {
        @return rem($name);
    } @else {
        @return $name;
    }
}

@mixin corner($name: md) {
    $radius: corner($name);
    border-radius: $radius;
}

@mixin corner-top($name: md) {
    $radius: corner($name);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin corner-bottom($name: md) {
    $radius: corner($name);
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin corner-left($name: md) {
    $radius: corner($name);
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin corner-right($name: md) {
    $radius: corner($name);
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin corner-top-left($name: md) {
    $radius: corner($name);
    border-top-left-radius: $radius;
}

@mixin corner-bottom-left($name: md) {
    $radius: corner($name);
    border-bottom-left-radius: $radius;
}

@mixin corner-top-right($name: md) {
    $radius: corner($name);
    border-top-right-radius: $radius;
}

@mixin corner-bottom-right($name: md) {
    $radius: corner($name);
    border-bottom-right-radius: $radius;
}
