// configs

$-border-width-df: 1px !default;
$-border-style-df: solid !default;
$-border-color-df: color(neutral, 3) !default;

// functions

@function border-props($pos: all, $type: null) {
  @if $pos == all or $pos == null {
    @return join-props(border, $type);
  }

  $props: ();

  @each $side in $-sides {
    @if match-edge($side, $pos) {
      $props: append($props, join-props(border, $side, $type));
    }
  }

  @return $props;
}

// mixins

@mixin border-color($pos: all, $value: $-border-color-df, $trump: false) {
  $props: border-props($pos, color);
  @include apply($props, $value, $trump);
}

@mixin border-style($pos: all, $value: $-border-style-df, $trump: false) {
  $props: border-props($pos, style);
  @include apply($props, $value, $trump);
}

@mixin border-width($pos: all, $value: $-border-width-df, $trump: false) {
  $props: border-props($pos, width);
  @include apply($props, $value, $trump);
}

@mixin border(
  $pos: all,
  $width: $-border-width-df,
  $style: $-border-style-df,
  $color: $-border-color-df,
  $trump: false
) {
  $props: border-props($pos);
  $value: $width $style $color;
  @include apply($props, $value, $trump);
}
