// variables

$-font-emoji: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;

$-font-sans: Roboto, 'Noto Sans', 'Noto Sans CJK SC', 'san-serif' !default;

$-font-mono: 'Sarasa Mono SC', 'Noto Sans Mono CJK SC', monospace !default;

$-font-serif: 'Noto Serif', 'Noto Serif CJK SC', serif !default;

$-font-narrow: 'Roboto Condensed', 'Noto Sans Condensed', 'san-serif' !default;

$-font-families: (
  sans: $-font-sans,
  mono: $-font-mono,
  serif: $-font-serif,
  narrow: $-font-narrow,
);

@function font-family($name, $extra: null) {
  $stack: map-get($-font-families, $name);

  @if type-of($stack) != list {
    @error "no font family named '#{$name}'";
  }

  // add extra font on top
  @if $extra {
    $stack: prepend(remove($stack, $extra), $extra);
  }

  // $stack: append($stack, $-font-emoji);
  @return $stack;
}

@mixin font-family($type: sans, $extra: null) {
  font-family: font-family($type, $extra);
}
