// configs

$-spacings: 0, rem(1x), rem(2x), rem(3x), rem(4x), rem(5x), rem(6x), rem(7x),
  rem(8x), rem(9x), rem(10x) !default;
$-spacing-df: rem(4x) !default;

// helpers

@mixin margin($pos: all, $size: $-spacing-df, $trump: false) {
  $props: side-props($pos, $-sides, margin);
  @include apply($props, $size, $trump);
}

@mixin padding($pos: all, $size: $-spacing-df, $trump: false) {
  $props: side-props($pos, $-sides, padding);
  @include apply($props, $size, $trump);
}
