$__primary-color: #2653af;
$__warning-color: #e74c3c;
$__success-color: #2ecc71;

$__background-color: #fcfcfc;
$__anchor-color: #ffc13d;
$__border-color: #e4e4e4;

$__text-primary-color: #333;
$__text-secondary-color: #999;

$__box-shadow: 0px 4px 16px rgba(#555, 0.1);
$__box-shadow-dark: 0px 4px 16px rgba(#000, 0.1);

$__grid: 1.5rem; // 24px
$__grid-half: $__grid / 2; // 12px
$__grid-tiny: $__grid / 4; // 6px

$__border-radius: $__grid / 8; // 3px
