// $__sizing-1: rem(3); /// 12 x 0.25
// $__sizing-2: rem(6); // 12 x 0.5
// $__sizing-3: rem(12); // 12 x1
// $__sizing-4: rem(18); // 12 x 1.5
// $__sizing-5: rem(24); // 12 x 2
// $__sizing-6: rem(30); // 12 x 2.5
// $__sizing-7: rem(36); // 12 x 3
// $__sizing-8: rem(48); // 12 x 4
// $__sizing-9: rem(60); // 12 x 5

$__font-size-1: rem(12);
$__line-height-1: gut(3);

$__font-size-2: rem(14);
$__line-height-2: gut(3);

$__font-size-3: rem(16);
$__line-height-3: gut(4);

$__font-size-4: rem(18);
$__line-height-4: gut(4);

$__font-size-5: rem(22);
$__line-height-5: gut(5);

$__font-size-6: rem(28);
$__line-height-6: gut(6);

$__font-size-7: rem(36);
$__line-height-7: gut(7);

$__font-size-8: rem(46);
$__line-height-8: gut(8);

$__font-size-9: rem(58);
$__line-height-9: gut(10);
