// Breakpoint widths
$bp-xs: 360px !default; // older phone, iphone se
$bp-sm: 480px !default; // Small screen / phone
$bp-md: 720px !default; // Medium screen / tablet
$bp-lg: 960px !default; // Large screen / desktop
$bp-xl: 1200px !default; // Extra large screen / wide desktop

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
) !default;

@function bp-size($key) {
  $val: map-get($breakpoints, $key);

  // prettier-ignore
  @if $val { @return $val; }

  @warn "custom screen size `#{$key}` is not recommended";
  @return $key;
}

@mixin bp-min($min: sm) {
  @if $min == null or $min == xs {
    @content;
  } @else {
    $size: bp-size($min);
    @media screen and (min-width: $size) {
      @content;
    }
  }
}

@mixin bp-max($max: xl) {
  @if $max == null {
    @content;
  } @else {
    $size: bp-size($max) - 1px;
    @media screen and (max-width: $size) {
      @content;
    }
  }
}

@mixin bp-minmax($min: sm, $max: xl) {
  $size-min: bp-size($min);
  $size-max: bp-size($max) - 1px;
  @media screen and (min-width: $size-min) and (max-width: $size-max) {
    @content;
  }
}

@mixin fluid($props, $xs: null, $sm: null, $md: null, $lg: null, $xl: null) {
  $map: $xs;

  @if type-of($map) != map {
    $map: (
      xs: $xs or null,
      sm: $sm or null,
      md: $md or null,
      lg: $lg or null,
      xl: $xl or null,
    );
  }

  $old: null;

  @if type-of($props) != list {
    $props: ($props);
  }

  @each $key, $val in $map {
    @if ($val and $val != $old) {
      @include bp-min($key) {
        @each $prop in $props {
          #{$prop}: $val;
        }
      }
    }

    $old: $val;
  }
}
