@mixin heading($font-size, $line-height: 1.5) {
  color: var(--color-label);
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin after-block($abs: false) {
  // prettier-ignore
  @if $abs { position: relative; }

  &:after {
    display: block;
    content: '';
    // prettier-ignore
    @if $abs { position: absolute; }
    @content;
  }
}
