$screen-phone-min: 360px !default;
$screen-phablet-min: 480px !default;
$screen-tablet-min: 720px !default;
$screen-desktop-min: 960px !default;

@mixin screen-min($size) {
  @if $size == phone {
    @media only screen and (min-width: #{$screen-phone-min}) {
      @content;
    }
  } @else if $size == phablet {
    @media only screen and (min-width: #{$screen-phablet-min}) {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and (min-width: #{$screen-tablet-min}) {
      @content;
    }
  } @else if $size == desktop {
    @media only screen and (min-width: #{$screen-desktop-min}) {
      @content;
    }
  } @else {
    @media only screen and (min-width: #{$size}) {
      @content;
    }
  }
}
